.center{
    text-align: center;
    margin: auto;
}

.padding-10{
    padding: 10px;
}

.color-orange{
    color: #E76F51;
}

.color-white{
    color: white;
}

.background-orange{
    background-color: #E76F51;
}

.bold{
    font-weight: bold;
}

.text-16{
    font-size: 16px;
}

.text-30{
    font-size: 30px;
}

.text-35{
    font-size: 35px;
}

.button-pill{
    border: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}