.carousel-item {
    overflow: hidden;
}

.carousel-item img {
    height: 50vh;
}

.text-green {
    color: #44be54;
}

.room-detail-item {
    font-size: 20px;
}

.rounded-10 {
    border-radius: 10px;
}

.text-size-40 {
    font-size: 40px;
}

.text-size-24 {
    font-size: 24px;
}

ol{
    list-style-type: none;
}

.previous, .next{
    position: absolute;
    top: 0;
    height: 91.8%;
    display: flex;
    align-items: center;
    color: white;
}

.previous{
    left: 2.5%;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%);
}


.next{
    right: 2.5%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%);
}

#slideOrder{
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#slideOrder li{
    padding: 5px;
    font-size: 10px;
    color: white;
}

.fa-chevron-left path {
    stroke: black;
    stroke-width: 30px;
  }

.col_image_btn{
    position:relative;
    left: 47%;
    color: #e76f51;
}

.slider{
    overflow: hidden;
}

.slider figure{
    position:relative;
    width: 704.2%;
    margin:0;
    left:0%
}

.slider figure img{
    width:14.2%;
    float:left
}

@media (max-width: 991px) {
    #sideCol {
        display:none !important;
    }
}