.carousel-item {
    overflow: hidden;
}

.carousel-item img {
    height: 50vh;
}

.text-green {
    color: #44be54;
}

.room-detail-item {
    font-size: 20px;
}

.rounded-10 {
    border-radius: 10px;
}

.text-size-40 {
    font-size: 40px;
}

.text-size-24 {
    font-size: 24px;
}

#listingSlider{
    width: 600px;
    height: 100%;
    overflow: hidden;
}

#listingSlides {
    display:flex;
    margin:0;
    padding: 0;
    width: 100%;
}

.slide{
    float: left;
    list-style-type: none;
}

