{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/addListing.css" %}'>
{% endblock %}

{% block content %}
<div class="container">
    {% if request.session.livingrooms_num > 0%}
        <div class="progress mt-5 mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:20%">20%</div>
        </div>
    {% else %}
        <div class="progress mt-5 mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="row ">
        {{bed_formset.management_form}}
        
            {% for form in bed_formset%}
            <div class="col-sm-12 bedroomF" id="pageListing-3">
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <h3>Quarto {{forloop.counter}}</h3>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.heater}}
                                <label for="{{ form.heater.id_for_label }}" class="custom-control-label">{% trans "Aquecedor" %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.air_conditioning}}
                                <label for="{{ form.air_conditioning.id_for_label }}" class="custom-control-label">{% trans 'Ar condicionado' %}</label>t
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.be_chairs}}
                                <label for="{{ form.be_chairs.id_for_label }}" class="custom-control-label">{% trans 'Cadeira' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.ensuite_bathroom}}
                                <label for="{{ form.ensuite_bathroom.id_for_label }}" class="custom-control-label">{% trans 'Casa de Banho Privada' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.chest_of_drawers}}
                                <label for="{{ form.chest_of_drawers.id_for_label }}" class="custom-control-label">{% trans 'Cómoda' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.wardrobe}}
                                <label for="{{ form.wardrobe.id_for_label }}" class="custom-control-label">{% trans 'Guarda Roupa' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.be_window}}
                                <label for="{{ form.be_window.id_for_label }}" class="custom-control-label">{% trans 'Janela' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.be_desk}}
                                <label for="{{ form.be_desk.id_for_label }}" class="custom-control-label">{% trans 'Secretária' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.be_sofa}}
                                <label for="{{ form.be_sofa.id_for_label }}" class="custom-control-label">{% trans 'Sofá' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.be_sofa_bed}}
                                <label for="{{ form.be_sofa_bed.id_for_label }}" class="custom-control-label">{% trans 'Sofá-Cama' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.tv}}
                                <label for="{{ form.tv.id_for_label }}" class="custom-control-label">{% trans 'Tv' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.be_balcony}}
                                <label for="{{ form.be_balcony.id_for_label }}" class="custom-control-label">{% trans 'Varanda' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.lock}}
                                <label for="{{ form.lock.id_for_label }}" class="custom-control-label">{% trans 'Fechadura' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control">
                                <label for="{{ form.num_double_beds.id_for_label }}">{% trans 'Camas de Casal' %}</label>
                                {{form.num_double_beds}}
                            </div>
                            <div class="col-sm-4 custom-control">
                                <label for="{{ form.num_single_beds.id_for_label }}">{% trans 'Camas de Solteiro' %}</label>
                                {{form.num_single_beds}}
                            </div>
                            <div class="col-sm-4 custom-control">
                                <label for="{{ form.max_occupacity.id_for_label }}">{% trans 'Ocupação máxima' %}</label>
                                {{form.max_occupacity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <input type="hidden" name="prop_id" value="{{prop_id}}">
        <div class="row justify-content-md-center text-center mb-3" >
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" >{% trans 'Seguinte' %}</button>
            </div>
        </div>
    </form>
</div>   
{% endblock %}