{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/style.css" %}'>
    <link rel="stylesheet" href='{% static "mainApp/css/addListing.css" %}'>
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/stepProgressBar.js" %}'></script>
{% endblock %}

{% block content %}
<div class="container">
    {% if request.session.livingrooms_num > 0%}
        <p id="numberOfSteps" hidden>6</p>
        <p id="labelsList" hidden>Início,Quartos,Casa de Banho,Cozinhas,Salas,Fim</p>   
    {% else %}
        <p id="numberOfSteps" hidden>5</p>
        <p id="labelsList" hidden>Início,Quartos,Casa de Banho,Cozinhas,Fim</p>   
    {% endif %}
    <p id="numberOfCompletedSteps" hidden>3</p>
    <div class="row m-5 ">
        <div class="col-12 mx-auto pr-0" id="stepBarDiv" style="display: flex;">
            <div class="progressLine"></div>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{bath_formset.management_form}}
        <div class="row">
            {% for form in bath_formset%}
            <div class="col-sm-12 bathroomF" id="pageListing-4">
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <h3>{% trans "Casa de Banho" %} {{forloop.counter}}</h3>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.bathtub}}
                                <label for="{{ form.bathtub.id_for_label }}" class="custom-control-label">{% trans 'Banheira' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.bidet}}
                                <label for="{{ form.bidet.id_for_label }}" class="custom-control-label">{% trans 'Bidé' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.shower}}
                                <label for="{{ form.shower.id_for_label }}" class="custom-control-label">{% trans 'Chuveiro' %}</label>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.b_window}}
                                <label for="{{ form.b_window.id_for_label }}" class="custom-control-label">{% trans 'Janela' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.sink}}
                                <label for="{{ form.sink.id_for_label }}" class="custom-control-label">{% trans 'Lavatório' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.toilet}}
                                <label for="{{ form.toilet.id_for_label }}" class="custom-control-label">{% trans 'Sanita' %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center text-center mb-3">
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" >{% trans "Seguinte" %}</button>
            </div>
        </div>
    </form>
</div>   
{% endblock %}