{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/style.css" %}'>
    <link rel="stylesheet" href='{% static "mainApp/css/addProperty.css" %}'>
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/addProperty.js" %}'></script>
    <script src='{% static "mainApp/js/stepProgressBar.js" %}'></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="progress mt-5 mb-3" id="progressbar" hidden>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
    </div>
    {% if request.session.livingrooms_num > 0%}
        <p id="numberOfSteps" hidden>6</p>
        <p id="numberOfCompletedSteps" hidden>6</p>
        <p id="labelsList" hidden>{% trans 'Início,Quartos,Casas de Banho,Cozinhas,Salas,Fim' %}</p>   
    {% else %}
        <p id="numberOfSteps" hidden>5</p>
        <p id="numberOfCompletedSteps" hidden>5</p>
        <p id="labelsList" hidden>{% trans 'Início,Quartos,Casas de Banho,Cozinhas,Fim' %}</p>   
    {% endif %}
    
    <div class="row m-5" id="stepBarRow" hidden>
        <div class="col-12 mx-auto pr-0" id="stepBarDiv" style="display: flex;">
            <div class="progressLine"></div>
        </div>
    </div>
    <form enctype="multipart/form-data" action="{% url 'addListing' %}" class="listing_form" method="POST">
        {% csrf_token %}
        <div class="row ">
            <div class="col-sm-12" id="pageListing-7">
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <div class="col-sm-7">
                        <h3>{% trans 'Outras informações' %}</h3>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="title">{% trans 'Título' %}:</label>
                                <input type="text" name="title" class="form-control border-info border-3 rounded" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label for="description">{% trans 'Descrição' %}:</label>
                                <textarea name="description" class="form-control border-info border-3 rounded" rows="6" class="w-100"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label for="availability_starts">{% trans 'Disponível de' %}:</label>
                                <input type="date"  class="form-control border-info border-3 rounded" name="availability_starts" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="availability_ending">{% trans 'até' %}:</label>
                                <input type="date" class="form-control border-info border-3 rounded" name="availability_ending" required >
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label for="monthly_payment">{% trans 'Renda' %}:</label>
                                <input type="number" class="form-control border-info border-3 rounded" name="monthly_payment"  min="0" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="security_deposit">{% trans 'Caução' %}:</label>
                                <input type="number" class="form-control border-info border-3 rounded" name="security_deposit"  min="0" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            {% comment %} <div class="col-sm-6">
                                <label for="cleaningServices">{% trans 'Frequência dos Serviçoes de limpeza' %}:</label>
                                <input type="text" name="cleaningServices" >
                            </div> {% endcomment %}
                            <div class="col-sm-6">
                                <label for="max_capacity">{% trans 'Ocupação máxima' %}:</label>
                                <input type="number" class="form-control border-info border-3 rounded" name="max_capacity"  min="1">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <label for="allowed_gender">{% trans 'Género Permitido' %}</label>
                                <select name="allowed_gender" class="custom-select border-info border-3" required >
                                    <option value="Ambos">{% trans 'Ambos' %}</option>
                                    <option value="onlyWomens">{% trans 'Apenas Mulheres' %}</option>
                                    <option value="onlyMens">{% trans 'Apenas Homens' %}</option>
                                </select>
                            </div>
                        </div>
                    
                </div>
                <!-- <div class="row mt-2 mb-2 justify-content-md-center">
                    <div class="col-sm-7">
                        <h3>Regras</h3>
                    </div>
                </div> -->
                </div>
                <div class="row justify-content-md-center ">
                    <!-- <div class="form-group col-sm-4">
                        {% if "multiple_bedrooms" in request.session %}
                            <h4>O que pretende anunciar?</h4><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="House"> Casa
                            </label> <br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Studio" disabled> Estúdio
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Apartment"> Apartamento
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Bedroom" disabled> Quarto
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Residency"> Residência
                            </label><br>
                        {% else %}
                            <h4>O que pretende anunciar?</h4><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Home"> Casa
                            </label> <br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Studio"> Estúdio
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Apartment"> Apartamento
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Bedroom"> Quarto
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="listing_type" class="" value="Residency"> Residência
                            </label><br>
                        {% endif %}
                    </div> -->
                    <div class="form-group col-sm-3">
                        <h4>{% trans 'Album de fotografias' %}</h4><br>
                            <div class="form-group imgF">
                            {{imgformset.management_form}}
                
                            {% for form in imgformset%}
                            {{form.images}}
                            {% endfor %}
                            </div>
                        <button type="button" class="addImg btn btn-info">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center text-center mb-3">
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary listing_submit" >{% trans 'Seguinte' %}</button>
            </div>
        </div>
    </form>
    <form class="form-group col-sm-4 multiple_form">
        {% csrf_token %}
        <h4>{% trans 'Como pretende anunciar' %}?</h4><br>
        <div class="form-group">
            <label for="" class="radio-inline">
            <input type="radio" name="multiple_listing" class="whole" value="whole"> {% trans 'Anunciar toda a propriedade' %}
            <label for="" class="radio-inline">
            <input type="radio" name="multiple_listing" class="separate" value="separate"> {% trans 'Anunciar quartos separadamente' %}
        </div>
        <button type="button" class="btn btn-secondary multiple_form_next" >{% trans 'Seguinte' %}</button>
    </form>
</div>  
{% endblock %}