{% extends 'mainApp/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/addListing.css" %}'>
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/addListing.js" %}'></script>
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row" >
            <div class="col-sm-12 bg-secondary">
            Timeline
            </div>
        </div>

        <div class="row justify-content-md-center pageListing-1">
            <div class="form-group col-sm-7">
                <label for="address"><h4>Morada</h4></label><br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-info border-right-0 border-3 p-1">
                            {% load static %}
                            <img src='{% static "mainApp/images/map-pin.svg" %}' class='img-fluid' alt='Location pin'>
                        </span>
                    </div>
                    <input type="text" class="form-control border-left-0 pl-0 border-info border-3 rounded-right" name="address">
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center pageListing-1">
            <div class="form-group col-sm-7">
                <h4>O que pretende anunciar?</h4><br>
                <label for="" class="radio-inline">
                    <input type="radio" name="listingType" class="" value="Home"> Casa
                </label> <br>
                <label for="" class="radio-inline">
                    <input type="radio" name="listingType" class="" value="Studio"> Estúdio
                </label><br>
                <label for="" class="radio-inline">
                    <input type="radio" name="listingType" class="" value="Apartatement"> Apartamento
                </label><br>
                <label for="" class="radio-inline">
                    <input type="radio" name="listingType" class="" value="Bedroom"> Quarto
                </label><br>
            </div>
        </div>

        <div class="row justify-content-md-center pageListing-2">
            <div class="form-group col-sm-auto">
                <br>
                <label for="" class="">Número de Quartos</label><br>
                <input type="number" name="bedroomsNum" id="bedroomsNum" min="1"> <br>
                <label for="" class="">Número de Casas de Banho</label><br>
                <input type="number" name="bathroomsNum" id="bathroomsNum" min="1"><br>
                <label for="" class="">Número de Cozinhas</label><br>
                <input type="number" name="kitchensNum" id="kitchensNum" min="1"><br>
                <label for="" class="">Número de Salas</label><br>
                <input type="number" name="livingroomsNum" id="livingroomsNum" min="0"> <br>
            </div>
        </div>

        <div class="row pageListing-3">
            <div class="col-sm-12" id="pageListing-3">
            </div>
        </div>

        <div class="row pageListing-4">
            <div class="col-sm-12" id="pageListing-4">
            </div>
        </div>

        <div class="row pageListing-5">
            <div class="col-sm-12" id="pageListing-5">
            </div>
        </div>

        <div class="row pageListing-6">
            <div class="col-sm-12" id="pageListing-6">
            </div>
        </div>

        <div class="row pageListing-7">
            <div class="col-sm-12" id="pageListing-7">

            </div>
        </div>

        <div class="row justify-content-md-center text-center">
            <div class="col-sm-auto">
                <button type="button" id="backPageListing" class="btn btn-info">Anterior</button>
            </div>
            <div class="col-sm-auto">
                <button type="button" class="btn btn-secondary" id="nextPageListing">Seguinte</button>
            </div>
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" id="submitListing">Terminar</button>
            </div>
        </div>
    </div>
{% endblock %}