{% extends 'mainApp/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/addListing.css" %}'>
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/addListing.js" %}'></script>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="POST">
        {{live_formset.management_form}}
        <div class="row pageListing-6">
            {% for form in live_formset%}
            <div class="col-sm-12 livingroomF" id="pageListing-6">
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <button class="btn bg-transparent col-sm-7 bedroomHideShow">Sala 1</button>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4">
                                {{form.l_chairs}}
                                <label for="{{ form.l_chairs.id_for_label }}">Cadeiras</label>
                            </div>
                            <div class="col-sm-4">
                                {{form.l_window}}
                                <label for="{{ form.l_window.id_for_label }}">Janela</label>
                            </div>
                            <div class="col-sm-4">
                                {{form.l_table}}
                                <label for="{{ form.l_table.id_for_label }}">Mesa</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{form.l_sofa}}
                                <label for="{{ form.l_sofa.id_for_label }}">Sofá</label>
                            </div>
                            <div class="col-sm-4">
                                {{form.l_sofa_bed}}
                                <label for="{{ form.l_sofa_bed.id_for_label }}">Sofá-cama</label>
                            </div>
                            <div class="col-sm-4">
                                {{form.l_desk}}
                                <label for="{{ form.l_desk.id_for_label }}">Secretária</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{form.l_balcony}}
                                <label for="{{ form.l_balcony.id_for_label }}">Varanda</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center text-center">
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" >Seguinte</button>
            </div>
        </div>
    </form>

</div>  
{% endblock %}