{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/style.css" %}'>
    <link rel="stylesheet" href='{% static "mainApp/css/addProperty.css" %}'>
    <link rel="stylesheet" href='{% static "mainApp/css/map.css" %}'> 
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/addProperty.js" %}'></script>
    <script src='{% static "mainApp/js/stepProgressBar.js" %}'></script>
    <script src='{% static "mainApp/js/map.js" %}'></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="container my-5 p-3 shadow-lg">
    <div class="row mt-3">
        <a href="#" onclick="history.back();">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="5" y1="12" x2="19" y2="12" />
                <line x1="5" y1="12" x2="11" y2="18" />
                <line x1="5" y1="12" x2="11" y2="6" />
            </svg>
        </a>
        <h3 class="mx-auto my-auto">{% trans 'Adicionar Propriedade' %}</h3>
    </div>
    <p id="numberOfSteps" hidden>6</p>
    <p id="numberOfCompletedSteps" hidden>1</p>
    <p id="labelsList" hidden>{% trans 'Início,Quartos,Casas de Banho,Cozinhas,Salas,Fim' %}</p>
    <div class="progress mt-5 mb-3" id="progressbar" hidden>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row m-5" id="stepBarRow" hidden>
        <div class="col-12 mx-auto pr-0" id="stepBarDiv" style="display: flex;">
            <div class="progressLine"></div>
        </div>
    </div>
    <form action="{% url 'addProperty' %}" method="POST" id="formContainer">
        {% csrf_token %}
        <div class="row justify-content-md-center pageListing-1">
            <div class="form-group col-sm-7">
                <label for="address"><h4>{% trans 'Morada' %}</h4></label><br>
                <input name ="latitude" id="latitude" type="hidden"/>
                <input name ="longitude" id="longitude" type="hidden"/>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-info border-right-0 border-3 p-1">
                            {% load static %}
                            <img src='{% static "mainApp/images/map-pin.svg" %}' class='img-fluid' alt='Location pin'>
                        </span>
                    </div>
                    <input type="text" id="address" class="form-control border-left-0 pl-0 border-info border-3 rounded-right" name="address" required>
                    <button id="addMarker" class="btn btn-secondary ml-3" type="button">{% trans 'Marcar' %}</button>
                </div>
            </div>

        </div>

        <div class= "mt-3 mb-3" id="mapid"></div>

        <div class="row">
            <div class="col-sm-12" >                
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <p class="text-muted">{% trans 'Arraste o marcador no mapa para ajustar a morada' %}</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12" >                
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <div class="col-sm-7">
                        <h3>{% trans 'Regras' %}</h3>
                    </div>
                </div>

                <div class="row justify-content-md-center mb-2 ">
                    <div class="col-sm-7">
                        <div class="row p-3">
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="pets" class="custom-control-input" id="pets">
                                <label for="pets" class="custom-control-label">{% trans 'Animais de Estimação' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="smoke" class="custom-control-input" id="smoke">
                                <label for="smoke" class="custom-control-label">{% trans 'Fumar' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="overnight_visits"class="custom-control-input" id="overnight_visits">
                                <label for="overnight_visits" class="custom-control-label">{% trans 'Visitas podem pernoitar ocasionalmente' %}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 mb-2 justify-content-md-center">
                    <div class="col-sm-7">
                        <h3>{% trans 'Despesas Incluídas' %}</h3>
                    </div>
                </div>

                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row p-3">
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="water" class="custom-control-input" id="water">
                                <label for="water" class="custom-control-label">{% trans 'Água' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="eletricity" class="custom-control-input" id="eletricity">
                                <label for="eletricity" class="custom-control-label">{% trans 'Eletricidade' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="internet" class="custom-control-input" id="internet">
                                <label for="internet" class="custom-control-label">{% trans 'Internet' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="gas" class="custom-control-input" id="gas">
                                <label for="gas" class="custom-control-label">{% trans 'Gás' %}</label>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="cleaning_services" class="custom-control-input" id="cleaning_services">
                                <label for="cleaning_services" class="custom-control-label">{% trans 'Serviços de Limpeza' %}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 mb-2 justify-content-md-center">
                    <div class="col-sm-7">
                        <h3>{% trans 'Exterior' %}</h3>
                    </div>
                </div>

                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row p-3">
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="street_parking" class="custom-control-input" id="street_parking">
                                <label for="street_parking" class="custom-control-label">{% trans 'Estacionamento' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="garage" class="custom-control-input" id="garage">
                                <label for="garage" class="custom-control-label">{% trans 'Garagem' %}</label>
                            </div>
                            <div class="col-sm-3 custom-control custom-checkbox">
                                <input type="checkbox" name="garden" class="custom-control-input" id="garden">
                                <label for="garden" class="custom-control-label">{% trans 'Jardim' %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2  justify-content-md-center">
            <div class="col-sm-7">
                <h3>{% trans 'Características da Casa' %}</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-7">
                <label for="floor_area">{% trans 'Área (m2)' %}</label>
                <input type="number" name="floor_area" class="form-control border-info border-3 rounded" id="floorArea" min=0>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-7">
                <h4>{% trans 'O que pretende anunciar' %} ?</h4><br>
                <input type="radio" name="listing_type" class="house_type" id="house_type" value="House"> 
                <label for="house_type" class="radio-inline"> {% trans 'Casa' %} </label><br>
                <input type="radio" name="listing_type" class="studio_type" id="studio_type" value="Studio">
                <label for="studio_type" class="radio-inline"> {% trans 'Estúdio' %} </label><br>
                <input type="radio" name="listing_type" class="apartment_type" id="apartment_type" value="Apartment">
                <label for="apartment_type" class="radio-inline"> {% trans 'Apartamento' %} </label><br>
                <input type="radio" name="listing_type" class="bedroom_type" id="bedroom_type" value="Bedroom">
                <label for="bedroom_type" class="radio-inline"> {% trans 'Quarto' %} </label><br>
            </div>
        </div>
        <div class="row justify-content-md-center num_divisions">
            <div class="col-sm-7">
                <label for="bedroomsNum" >{% trans 'Número de Quartos' %}</label>
                <input type="number" name="bedrooms_num" id="bedroomsNum" min="1" class="form-control border-info border-3 rounded" required> <br>
                <label for="bathroomsNum" >{% trans 'Número de Casas de Banho' %}</label><br>
                <input type="number" name="bathrooms_num" id="bathroomsNum" min="1" class="form-control border-info border-3 rounded" required><br>
                <label for="kitchensNum" >{% trans 'Número de Cozinhas' %}</label><br>
                <input type="number" name="kitchens_num" id="kitchensNum" min="1" class="form-control border-info border-3 rounded" required><br>
                <label for="livingroomsNum" >{% trans 'Número de Salas' %}</label><br>
                <input type="number" name="livingrooms_num" id="livingroomsNum" min="0" class="form-control border-info border-3 rounded" required> <br>
            </div>
        </div>
        <div id='placeAndSelectWarning' class="row mt-4">
            <div class="col-sm-12" >                
                <div class="row mt-2 justify-content-md-center">
                    <p class="text-primary">{% trans 'Para avançar marque a localização e selecione um tipo de alojamento' %}</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center text-center mb-3">
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" id="addPropertyNext" disabled>{% trans 'Seguinte' %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
