<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href='{% static "mainApp/css/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "mainApp/css/style.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" /> {% block styles %} {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'mainApp/images/icon.ico' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src='{% static "mainApp/css/bootstrap/js/bootstrap.bundle.js" %}'></script>
    {% block scripts %} {% endblock %}
    <title>UniHouses</title>
</head>
{% load i18n %}
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary p-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/mainApp">
                <img src='{% static "mainApp/images/logo.svg" %}' width='170'>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active my-auto">
                            <a class="nav-link" href="/mainApp/search">{% trans "Pesquisar" %}</a>
                        </li>
                        {% if request.session.typeUser == "Landlord" %}
                            <li class="nav-item active my-auto">
                                <a class="nav-link p-0" href="/mainApp/notificationsLandlord">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.60" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <rect x="3" y="5" width="18" height="14" rx="2" />
                                        <polyline points="3 7 12 13 21 7" />
                                    </svg>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item active my-auto">
                                <a class="nav-link p-0" href="/mainApp/notificationsTenant">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.60" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <rect x="3" y="5" width="18" height="14" rx="2" />
                                        <polyline points="3 7 12 13 21 7" />
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item active my-auto">
                            <a class="nav-link" href="/mainApp/profile">{{user.username}}</a>
                        </li>
                        <li class="nav-item active my-auto">
                            <form action="{% url 'logout_view' %}">
                                <button type="submit"  class="btn btn-secondary ml-4 font-weight-bold">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/mainApp/search">{% trans "Pesquisar" %}</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/accounts/register">{% trans "Registar" %}</a>
                        </li>
                        <li class="nav-item active">
                            <button type="button" onclick="location.href='/accounts/login'" class="btn btn-secondary ml-4 font-weight-bold">Login</button>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>
    <main class = "" id="main">
        {% block content %} {% endblock %}
    </main>
    <footer class="container-fluid bg-info text-light p-4" id="footer">
        <div class="row justify-content-center">
            <a>
                <p class="text-light my-auto m-1 font-weight-bold">UniHouses</p>
            </a>
            <i class="fa fa-circle my-auto m-1 " style="font-size:6px;"></i>
            <a>
                <p class="text-light my-auto m-1 font-weight-bold">{% trans "Termos e Políticas" %}</p>
            </a>
            <i class="fa fa-circle my-auto m-1" style="font-size:6px;"></i>
            <a href="https://github.com/danielserras/projeto_final">
                <p class="text-light my-auto m-1 font-weight-bold">GitHub</p>
            </a>
            <i class="fa fa-github my-auto" style="font-size:18px;"></i>
            <form action="{% url 'set_language' %}" method="post" id="lang_form" class="row ml-1">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <i class="fa fa-circle my-auto m-1 mr-2" style="font-size:6px;"></i>
                <button type="submit" name="language" value="{{ languages.0.code }}" class="p-0 bg-transparent border-0 font-weight-bold {% if languages.0.code == LANGUAGE_CODE %}text-primary{% else%}text-white{% endif %}">
                    {{ languages.0.name_local }}
                </button>
                <i class="fa fa-circle my-auto m-2" style="font-size:6px;"></i>
                <button type="submit" name="language" value="{{ languages.1.code }}" class="p-0 bg-transparent border-0 font-weight-bold {% if languages.1.code == LANGUAGE_CODE %}text-primary{% else%}text-white{% endif %}">
                    {{ languages.1.name_local }}
                </button>
            </form>
        </div>
    </footer>
</body>

</html>