<div id='bedroom'>
    <div class="row">
        <div class="row p-1 ml-4">
            <h3 class="text-primary font-weight-bold">Quarto</h3>
        </div>
    </div>
    <div class="row pl-5 ml-5">
        <div class="col-sm-10">
            <div class="row mb-3">
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-check text-green" aria-hidden="yes"></i> Cama
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Cómoda
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Armário
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Secretária
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-check text-green" aria-hidden="yes"></i> Cadeira
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Sofá
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Televisão
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Fechadura
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-check text-green" aria-hidden="yes"></i> Janela
                </div>
                <div class="col-sm-3 room-detail-item">
                    <i class="fa fa-times text-primary" aria-hidden="no"></i> Varanda
                </div>
            </div>
        </div>
    </div>
</div>