<div class="row justify-content-md-center">
    <button class="btn bg-transparent col-sm-7" id="bedroom-1">Quarto 1</button>
</div>
<div class="row justify-content-md-center" id="bedroom-1">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" name="heater" id="">
                <label class="checkbox-inlines" for="heater">Aquecedor</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="airCondition" id="">
                <label for="airCondition">Ar Condicionado</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="chair" id="">
                <label for="chair">Cadeira</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" name="privateBathroom" id="">
                <label for="privateBathroom">Casa de Banho privada</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="chestOfDrawers" id="">
                <label for="chestOfDrawers">Cómoda</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="wardrope" id="">
                <label for="wardrope">Guarda Roupa</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" name="window" id="">
                <label for="window">Janela</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="desk" id="">
                <label for="desk">Secretária</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="sofa" id="">
                <label for="sofa">Sofá</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" name="sofaBed" id="">
                <label for="sofaBed">Sofá-cama</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="tv" id="">
                <label for="tv">Tv</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" name="balcony" id="">
                <label for="balcony">Varanda</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="doubleBeds">Camas de Casal</label>
                <input type="number" name="doubleBeds" id="">
            </div>
            <div class="col-sm-4">
                <label for="singleBeds">Camas de Solteiro</label>
                <input type="number" name="singleBeds" id="">
            </div>
            <div class="col-sm-4">
                <label for="maximumOccupation">Ocupação Máxima </label>
                <input type="number" name="maximumOccupation" id="">
            </div>
        </div>    
    </div>
</div>