{% extends 'mainApp/base.html' %} 
{% load i18n %}
{% load static %}
{% load app_extras %}
{% block styles %}
<link rel="stylesheet" href='{% static "mainApp/css/chat.css" %}'>
{% endblock %}
{% block scripts%}
<script src='{% static "mainApp/js/chat.js" %}'></script> 
{% endblock %}
{% block content %}
<div class="container rounded p-0 my-5 shadow-lg">
    <div class="row m-0">
        <div class="col-sm-3 p-3  border-bottom border-info">
            <h5>Chats</h5>
        </div>
        <div class="col-sm-9 p-3 bg-primary text-white rounded-chat" id="receiver">
        </div>
    </div>
    <div class="row m-0">
        <div class="col-sm-3 height-75">
            {% for chat in chats_sorted %}
                <form class="selectChat" action="" method="get">
                    {% csrf_token %}
                    <input type="hidden" value="{{chat.id}}">
                    <div class="row px-2 py-3 border-bottom border-info"><button id="chat_{{chat.id}}" class="btn text-info" type="submit">{{chats_dict|get_item:chat}}</button></div>
                </form>
            {% endfor %}
        </div>
        <div class="col-sm-9">
            <div class="row height-65 p-4">
                <div class="col-sm-12" id="messagesBox"></div>
            </div>
            <div class="row border-top mt-4 px-3" id="sendMessageRow">
                <form class="sendMessage col-sm-12 mt-3 mb-0" action="" method="post" id="sendMessage">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-9">
                            <textarea name="content" class="form-control" id="message"></textarea>
                        </div>
                        <div class="col-sm-3 my-auto">
                            <input type="hidden" name="chat" id="chat" value="">
                            <button type="submit" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e76f51" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <line x1="10" y1="14" x2="21" y2="3" />
                                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if request.session.chat_is_new %}
    <script>
        $(document).ready(function () {
            $("{{chat_id}}").click();
        })
    </script>
{% endif %}

{% endblock %}