{% extends 'mainApp/base.html' %} 
{% load i18n %}
{% load static %}
{% load app_extras %}
{% block styles %}
{% endblock %}
{% block scripts%}
{% endblock %}
{% block content %}
<div class="container p-0 my-5 p-3 shadow-lg">
    <div class="row">
        <div class="col-sm-3 p-3">
        </div>
        <div class="col-sm-9 p-3 bg-primary">
            2
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 bg-info ">
            {% for chat in chats_sorted %}
                <div class="row px-2 py-3 border-top border-bottom border-white text-white">{{chats_dict|get_item:chat}}</div>
            {% endfor %}
        </div>
        <div class="col-sm-9">
            <div class="row p-4">
                <div class="col-sm-6 bg-secondary mb-3 p-3 text-white rounded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id gravida orci, pretium commodo odio. Pellentesque orci lacus, maximus nec ligula at, mollis bibendum turpis. </div>
            </div>
            <div class="row p-4">
                <div class="col-sm-6 bg-primary ml-auto mt-3 p-3 text-white rounded">Quisque dolor diam, viverra et ipsum a, scelerisque viverra nulla. Vivamus ullamcorper vehicula arcu ac ultrices. Nam sit amet risus urna. Suspendisse suscipit dignissim facilisis. Aliquam laoreet pulvinar mi, quis tempus sem rhoncus fringilla. Nulla lobortis, libero at vehicula accumsan, risus neque posuere neque, varius iaculis tortor tortor pellentesque enim</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}