{% extends 'mainApp/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/confirmPass.css" %}'>
{% endblock %}
{% block content %}
{% load static %}

<head>
    <script> 
       
        function check(form) { 
            password1 = form.p1.value; 
            password2 = form.p2.value; 
 
            if (password1 == '') {

            }

            else if (password2 == '') {

            }
                  
            else if (password1 != password2) { 

            } 

            else { 
        
            } 
        } 

    </script> 
</head>

<h4 class="display-5 text-center mt-3 pt-5">Confirme a sua Palavra-passe</h4>
<div class="wrapper fadeInDown d-flex justify-content-center mt-3 pt-5">
    <div id="formContent">
    <form>
        <input type="password" id="username" class="inputType1 mt-4 mb-3" name="p1" placeholder="Nova Palavra-passe">
        <input type="password" id="password" class="inputType1 mb-3" name="p2" placeholder="Insira de novo a Palavra-passe">
        <button type="submit" class="inputType2 btn btn-secondary m-2 font-weight-bold mb-4">Confirmar</button>
    </form>
    </div>
</div>



{% endblock %}