{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/addListing.css" %}'>
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/addListing.js" %}'></script>
{% endblock %}

{% block content %}
<div class="container">
    {% if request.session.livingrooms_num > 0%}
        <div class="progress mt-5 mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:80%">80%</div>
        </div>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{live_formset.management_form}}
        <div class="row ">
            {% for form in live_formset%}
            {{form.id}}
            <div class="col-sm-12 livingroomF" id="pageListing-6">
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <h3>{% trans 'Sala' %} {{forloop.counter}}</h3>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_chairs}}
                                <label for="{{ form.l_chairs.id_for_label }}" class="custom-control-label">{% trans 'Cadeiras' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_window}}
                                <label for="{{ form.l_window.id_for_label }}" class="custom-control-label">{% trans 'Janela' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_table}}
                                <label for="{{ form.l_table.id_for_label }}" class="custom-control-label">{% trans 'Mesa' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_sofa}}
                                <label for="{{ form.l_sofa.id_for_label }}" class="custom-control-label">{% trans 'Sofá' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_sofa_bed}}
                                <label for="{{ form.l_sofa_bed.id_for_label }}" class="custom-control-label">{% trans 'Sofá-cama' %}</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_desk}}
                                <label for="{{ form.l_desk.id_for_label }}" class="custom-control-label">{% trans 'Secretária' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.l_balcony}}
                                <label for="{{ form.l_balcony.id_for_label }}" class="custom-control-label">{% trans 'Varanda' %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center text-center mb-3">
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" >{% trans 'Terminar' %}</button>
            </div>
        </div>
    </form>

</div>  
{% endblock %}