{% extends 'mainApp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% if request.session.livingrooms_num > 0%}
        <div class="progress mt-5 mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
        </div>
    {% else %}
        <div class="progress mt-5 mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:50%">50%</div>
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{bath_formset.management_form}}
        <div class="row">
            {% for form in bath_formset %}
            {{form.id}}
            <div class="col-sm-12 bathroomF" id="pageListing-4">
                <div class="row mt-2 mb-2 justify-content-md-center">
                    <h3>Casa de Banho {{forloop.counter}}</h3>
                    <button class="btn removeBedroom" type="button" onclick="location.href='/mainApp/profile/propertiesManagement/deleteBathroom/{{property_id}}/{{form.id.value}}'">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e76f51" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="4" y1="7" x2="20" y2="7" />
                        <line x1="10" y1="11" x2="10" y2="17" />
                        <line x1="14" y1="11" x2="14" y2="17" />
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>
                    </button>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.bathtub}}
                                <label for="{{ form.bathtub.id_for_label }}" class="custom-control-label">Banheira</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.bidet}}
                                <label for="{{ form.bidet.id_for_label }}" class="custom-control-label">Bidé</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.shower}}
                                <label for="{{ form.shower.id_for_label }}" class="custom-control-label">Chuveiro</label>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.b_window}}
                                <label for="{{ form.b_window.id_for_label }}" class="custom-control-label">Janela</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.sink}}
                                <label for="{{ form.sink.id_for_label }}" class="custom-control-label">Lavatório</label>
                            </div>
                            <div class="col-sm-4 custom-control custom-checkbox">
                                {{form.toilet}}
                                <label for="{{ form.toilet.id_for_label }}" class="custom-control-label">Sanita</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center text-center mb-3">
            <div class="col-sm-auto">
                <button type="button" id="addBathroom" class="btn btn-info">+</button>
            </div>
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-secondary" >Seguinte</button>
            </div>
        </div>
    </form>
</div>   
{% endblock %}