{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/editListing.css" %}'>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src='{%static "mainApp/js/editListing.js"%}'></script>
{% endblock %}
{% block content %}
<div class="container my-5 p-3 shadow-lg">
    <div class="row mt-3">
        <a href="#" onclick="history.back();">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="5" y1="12" x2="19" y2="12" />
                <line x1="5" y1="12" x2="11" y2="18" />
                <line x1="5" y1="12" x2="11" y2="6" />
            </svg>
        </a>
        <h3 class="mx-auto my-auto">{% trans 'Editar Anúncios' %}</h3>
    </div>
    <form enctype="multipart/form-data" action="" class="listing_form" method="POST">
        {% csrf_token %}
        <div class="row ">
            <div class="col-sm-12">
                <div class="row justify-content-md-center mb-2">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="title">{% trans 'Título' %}:</label>
                                <input type="text" name="title" class="form-control border-info border-3 rounded" value="{{main_listing.title}}" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label for="description">{% trans 'Descrição' %}:</label>
                                <textarea name="description" class="form-control border-info border-3 rounded" rows="6" class="w-100">{{main_listing.description}}</textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label for="availability_starts">{% trans 'Disponível de' %}:</label>
                                <input type="date"  class="form-control border-info border-3 rounded" min="{{current_date}}" name="availability_starts" value="{{main_listing.availability_starts}}" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="availability_ending">{% trans 'até' %}:</label>
                                <input type="date" class="form-control border-info border-3 rounded" min="{{current_date}}" name="availability_ending" value="{{main_listing.availability_ending}}" required >
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label for="monthly_payment">{% trans 'Renda' %}:</label>
                                <input type="number" class="form-control border-info border-3 rounded" name="monthly_payment"  min="0" value="{{main_listing.monthly_payment}}" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="security_deposit">{% trans 'Caução' %}:</label>
                                <input type="number" class="form-control border-info border-3 rounded" name="security_deposit"  min="0" value="{{main_listing.security_deposit}}" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            {% comment %} <div class="col-sm-6">
                                <label for="cleaningServices">{% trans 'Frequência dos Serviçoes de limpeza' %}:</label>
                                <input type="text" name="cleaningServices" >
                            </div> {% endcomment %}
                            <div class="col-sm-6">
                                <label for="max_occupancy">{% trans 'Ocupação máxima' %}:</label>
                                <input type="number" class="form-control border-info border-3 rounded" name="max_occupancy" value="{{main_listing.max_occupancy}}" min="1">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <label for="allowed_gender">{% trans 'Género Permitido' %}</label>
                                <select name="allowed_gender" class="custom-select border-info border-3" value ="{{main_listing.allowed_gender}}"required >
                                    <option value="Ambos">{% trans 'Ambos' %}</option>
                                    <option value="onlyWomens">{% trans 'Apenas Mulheres' %}</option>
                                    <option value="onlyMens">{% trans 'Apenas Homens' %}</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="row justify-content-center" id="imagesDiv">
                    <div class="form-group col-sm-8 text-center justify-content-center">
                        <h4>{% trans 'Album de fotografias' %}</h4><br>
                        <div class="form-group imgF row p-2 justify-content-center">
                            {{img_formset.management_form}}
                            {% if editListing%}
                                {% for i in imagesZip%}
                                    <div class="col-sm-3 col-md-3 col-6 justify-content-center" id="bdImgs">
                                        <div class="row p-1 imgPreview justify-content-center">
                                            <img src="{% static i.0 %}" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="row  justify-content-xs-center">
                                            <a href="{{request.get_full_path}}/removeImage/{{i.1}}" class="mt-2 btn btn-primary">Remover</a>    
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for form in img_formset%}
                                    <div class="col-sm-3 col-md-3 col-6 justify-content-sm-center">
                                        <div class="row p-1 imgPreview justify-content-center">
                                        </div>
                                        <div class="row justify-content-md-center">
                                            {{form.images}}
                                            <button type="button" class="btn col-xs-8 px-0" onclick="browseFile(this)">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-upload" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                                    <line x1="12" y1="11" x2="12" y2="17" />
                                                    <polyline points="9 14 12 11 15 14" />
                                                </svg>
                                                Choose file
                                            </button>
                                            <button class="btn removeImage col-xs-4 px-0" type="button" onclick="remove_img(this)">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e76f51" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="18" y1="6" x2="6" y2="18" />
                                                    <line x1="6" y1="6" x2="18" y2="18" />
                                                </svg>
                                            </button>
                                            
                                        </div>
                                    </div>
                                {% endfor %}
                            {%else%}
                                {% for form in img_formset%}
                                    <div class="col-sm-3 mr-1 justify-content-sm-center">
                                        <div class="row p-1 imgPreview justify-content-md-center">
                                        </div>
                                        <div class="row  justify-content-md-center">
                                            {{form.images}}
                                            <button type="button" class="btn col-xs-8 px-0" onclick="browseFile(this)">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-upload" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                                    <line x1="12" y1="11" x2="12" y2="17" />
                                                    <polyline points="9 14 12 11 15 14" />
                                                </svg>
                                                Choose file
                                            </button>
                                            <button class="btn removeImage col-xs-4 px-0" type="button" onclick="remove_img(this)">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e76f51" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="18" y1="6" x2="6" y2="18" />
                                                    <line x1="6" y1="6" x2="18" y2="18" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {%endif%}

                        </div>
                        <div class="row mt-3 justify-content-center">
                            <button type="button" class="addImg btn btn-info">{% trans 'Adicionar mais fotos' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center text-center mb-3">
            <div class="col-sm-auto">
                <button type="submit" id="saveListing" class="btn btn-secondary listing_submit" {% if imagesNum == 0 or "createListing" in request.get_full_path %}disabled{%endif%}>{% trans 'Guardar' %}</button>
                {% if imagesNum == 0 or "createListing" in request.get_full_path%}<p id="photoAlert"class="text-danger">Tem que ter no mínimo uma fotografia</p>{%endif%}
            </div>
        </div>
    </form>
</div>  
{% endblock %}