{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row bg-primary p-2 rounded-pill"><h2 class="mx-auto my-auto ml-2 text-white text-center font-weight-bold">{% trans 'Verificação de conta' %}</h2></div>
        <div class = "row mt-4 border-bottom border-5 border-primary"><h4 class="mx-auto my-auto font-weight-bold"> E-mail de verificação</h4></div>
        <h6 class= " text-center text-info mt-5">Este e-mail foi-lhe enviado porque tentou criar uma conta no nosso site, </h6>
        <h6 class= " text-center text-info mt-0 pt-0">clique no botão abaixo para confirmar o seu e-mail e ativar a sua conta. </h6>
        <h6 class= " text-center text-info mt-0 pt-0 font-weight-bold mt-5">Verifique aqui o seu e-mail:</h6>
        <div class="d-flex justify-content-center mt-4"><button class=" btn btn-primary btn-lg rounded-pill" type="submit">Verificar</button></div>
    </div>
{% endblock %}
