{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "col-sm-3 border-5 border-info rounded-top">
            <h5 class = "text-info font-weight-bold">Caixa de entrada</h5>
            <div class="row">
                <h6 class = "text-info">mensagem 1</h6>
                <p class = "text-info" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="row">
                <h6 class = "text-info">mensagem 2</h6>
                <p class = "text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="row">
                <h6 class = "text-info">mensagem 3</h6>
                <p class = "text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class = "col-md-9 border-5 border-info rounded-top">
            <h5 class = "text-info font-weight-bold">Mensagem 1</h5>
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>

{% endblock %}