{% extends 'mainApp/base.html' %} 
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 p-4">
            {% load static %}
            <img src='{% static "mainApp/images/HomeSvg.svg" %}' class='img-fluid' alt='House with trees on both sides and a big magnifying glass on top'>
        </div>
        <div class="col-sm-6 my-auto">
            <div class="row">
                <div class="col-sm-12 px-4 py-2">
                    <h1 class="font-weight-bold">
                        {% trans 'Vais estudar e não sabes onde ficar? Nós podemos ajudar!' %}
                    </h1>
                </div>
            </div>
            <div class="row align-middle px-4 py-2">
                <form action="{% url 'search' %}" method="POST" class="form-inline col">
                    {% csrf_token %}
                    <div class='row'>
                        <div class="form-group col-sm-6 my-auto p-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-info border-right-0 border-3 p-1">
                                        {% load static %}
                                        <img src='{% static "mainApp/images/map-pin.svg" %}' class='img-fluid' alt='Location pin'>
                                    </span>
                                </div>
                                <input type="text" class="form-control border-left-0 pl-0 border-info border-3 rounded-right" placeholder="{% trans 'Localização' %}" name="location" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 my-auto p-2">
                            <div class="input-group">
                                <input type="number" min="1" class="form-control border-info border-3 rounded-left p-1" placeholder="{% trans 'Raio' %}" name="radius" required>
                                <div class="input-group-append">
                                    <span class="input-group-text bg-white border-info border-3 border-left-0 p-1">Km</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <input type="text" id="minPrice" name="minPrice" value="0" hidden>
                        <input type="text" id="maxPrice" name="maxPrice" value="2000"hidden>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary ml-2 border-0 font-weight-bold">{% trans 'Pesquisar' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid mb-0" id="bottom-home-container">
    <div class="jumbotron-background">
        {% load static %}
        <img class="blur full-div-width" src='{% static "mainApp/images/bgHomeBottom.jpg" %}' alt="Blured image of 2 buildings serving as background">
    </div>
    <div class="container p-4 ">
        <div class="row justify-content-center m-3 ">
            <h2 class="col-sm-6 text-center ">Lorem ipsum dolor sit </h2>
        </div>
        <div class="row justify-content-center m-1 ">
            <p class="col-sm-8 text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu mauris etiam dignissim scelerisque tincidunt eget adipiscing in duis. Neque, enim a vel dictum in ac nibh. Arcu, euismod tincidunt lectus donec convallis. Euismod commodo enim,
                mattis netus velit, at vel risus.
            </p>
        </div>
        <div class="row justify-content-center ">
            <button type="button" class="btn btn-secondary font-weight-bold ">{% trans 'Sou estudante' %}</button>
        </div>
        <div class="row justify-content-center mt-5 m-3 ">
            <h2 class="col-sm-6 text-center ">Lorem ipsum dolor sit </h2>
        </div>
        <div class="row justify-content-center ">
            <p class="col-sm-8 text-center ">Tempor amet convallis gravida in condimentum gravida congue congue. Aliquet tortor nullam in congue libero scelerisque. Pharetra integer quis in laoreet ultrices blandit eu pretium arcu. Tortor orci, odio morbi a, mi rhoncus tellus sed vitae.
                Sit consequat sagittis turpis magna.
            </p>
        </div>
        <div class="row justify-content-center ">
            <button type="button" class="btn btn-secondary font-weight-bold ">{% trans 'Sou senhorio' %}</button>
        </div>
    </div>
</div>
{% endblock %}