{% extends 'mainApp/base.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/intent.css" %}'>
{% endblock %}
{% block content %}

<div class="container mt-5 mb-5 mt-5 p-0 intent">
    <div class= "row">
        <div class="col-sm-8 pl-0 pr-0" style="background-color:white;" id="msgEmDetalhe">
            <div class="row col-sm-12 mb-0 mt-2 p-0 pl-0 ml-0 bg-warning">
                <h4 class="text-info mt-3 pl-3"> Estou interessado! </h4>
            </div>
            <div class="form-group row pl-4 mt-4 mb-2">
                <label for="example-date-input" class="col-2 col-form-label">Data de Início</label>
                <div class="col-4">
                  <input class="form-control" type="date" value="">
                </div>
            </div>
            <div class="form-group row pl-4 mt-4 mb-2">
                <label for="example-date-input" class="col-2 col-form-label">Data de Fim</label>
                <div class="col-4">
                  <input class="form-control" type="date" value="">
                </div>
            </div>
        </div>
    </div>

    <div class= "row">
        <div class="col-sm-4">

        </div>
    </div> 
    


</div>




{% endblock %}