{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="container my-5 p-3 shadow-lg">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="row mt-3 mb-3">
                <a href="#" onclick="history.back();">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="11" y2="18" />
                        <line x1="5" y1="12" x2="11" y2="6" />
                    </svg>
                </a>
                <h3 class="mx-auto my-auto">{% trans 'Faturas' %}</h3>
            </div>
        </div> 
    </div>
    <div class="table-responsive">
        <table class="table">
        <thead class="thead bg-info">
            <tr>
            <th class="text-white" scope="col">#</th>
            <th class="text-white text-center" width="30%" scope="col">{% trans 'Número da Fatura' %}</th>
            <th class="text-white text-center" width="50%" scope="col">{% trans 'Data de Emissão' %}</th>
            <th class="text-white text-center" width="20%" scope="col">{% trans 'Ver Fatura' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in invoices%}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="text-center font-weight-bold">#{{i.id}}</td>
                        <td class="text-center">{{i.timestamp}}</td>
                        <td class="text-center">
                            <form action="{% url 'get_invoice_pdf' %}" method="POST">
                                {% csrf_token %}
                                <input name="invoice_id" type='hidden' value="{{i.id}}">
                                <button type="submit" class="btn bg-primary text-white">Ver</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    </div>
    
</div>
{% endblock %}