{% extends 'mainApp/base.html' %} {% load static %} {% block styles %} {% load app_extras %}

<link rel="stylesheet" href='{% static "mainApp/css/listingPage.css" %}'> {% endblock %} {% block scripts%} {% endblock %} {% block content %}
<div class="container">
    <div class="row justify-content-md-center m-5" id="a">
        <div class="col-sm-8">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in range %}
                        {% if forloop.first %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{range}}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for p in imagesPaths %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">  
                        {% endif %}
                            <img class="d-block w-100" src="{% static p %}" alt="First slide">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row">
        <div class="col-sm-8">
            <div class="row p-1">
                <h2 class="text-secondary font-weight-bold">{{listing.title}}</h2>
            </div>
            <div class="row ml-2">
                <div class="col-md-2 my-auto">
                    <div class="row justify-content-center">
                        <img src='{% static "mainApp/images/user_listing_icon.svg" %}' width="28px" class='img-fluid' alt='Maximum number of tenants'>
                        <p class="my-auto font-weight-bold">{{listing.max_capacity}}  {% if listing.max_capacity > 1 %} pessoas {% else %} pessoa {% endif %} </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-center">
                        <img src='{% static "mainApp/images/bed.svg" %}' width="38px" class='img-fluid' alt='Number of beds'>
                        <p class="my-auto font-weight-bold">{{num_beds}}  {% if num_beds > 1 %} camas {% else %} cama {% endif %}</p>
                    </div>
                </div>
                <div class="col-md-3 my-auto">
                    <div class="row justify-content-center">
                        <img src='{% static "mainApp/images/shower.svg" %}' width="24px" class='img-fluid' alt='Number of bathrooms'>
                        <p class="my-auto font-weight-bold">{{bathrooms|length}} {% if bathrooms|length > 1 %} casas-de-banho {% else %} casa-de-banho {% endif %} </p>
                    </div>
                </div>
                <div class="col-md-1 my-auto">
                    <div class="row justify-content-center">
                        <p class="my-auto font-weight-bold">{{property.floor_area}}</p>
                        <span class="text-primary font-weight-bold text-size-24 mb-1">&#13217;</span>
                    </div>
                </div>
            </div>
            <div class="row ml-2 mr-2">
                <p>
                    {{listing.description}}
                </p>
            </div>
        </div>
        <div class="col-sm-3 bg-secondary rounded-10 m-4">
            <div class="row justify-content-center mt-3">
                <p class="text-white text-size-40 font-weight-bold">{{listing.monthly_payment}}€</p>
                <p class="text-white my-auto h-100">/mês</p>
            </div>
            <div class="row justify-content-center">
                <p class="text-white my-auto mr-2">{{landlord_user.first_name}} {{landlord_user.last_name}}</p>
                <img src='{% static "mainApp/images/user.svg" %}' width='13%'>
            </div>
            <div class="row justify-content-center">
                {% if is_tenant %}
                    <form action="{% url 'create_request' %}">
                        <button type="submit" class="btn text-info bg-warning m-4">Mostrar Interesse</button>
                    </form>
                {% else %}
                    <form action="{% url 'create_request' %}">
                        <button type="submit" class="btn text-info bg-warning m-4" disabled>Mostrar Interesse</button>
                    </form>
                    {% for message in messages %}
                        {%if message.extra_tags == "tenant_lock"%}
                            <p class="info_msg text-white" >{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row p-1 mt-5 ml-1">
            <h2 class="text-secondary font-weight-bold">Detalhes ({{numDetails}})</h2>
        </div>
    </div>
    {%for room in bedrooms%}
    <div id='bedroom'>
        <div class="row">
            <div class="row p-1 ml-4">
                <h3 class="text-primary font-weight-bold">Quarto {% if bedrooms|length > 1 %} {{forloop.counter}} {% endif %} </h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">  
                     {% get_checkmark room.be_desk "Secretária" %} {% get_checkmark room.be_chairs "Cadeira" %} {% get_checkmark room.chest_of_drawers "Cómoda" %} {% get_checkmark room.wardrobe "Armário" %} 
                </div>
                <div class="row mb-3">
                     {% get_checkmark room.be_sofa "Sofá" %} {% get_checkmark room.tv "Televisão" %} {% get_checkmark room.be_sofa_bed "Sofá Cama" %} {% get_checkmark room.heater "Aquecedor" %}
                </div>
                <div class="row mb-3">
                     {% get_checkmark room.air_conditioning "Ar Condicionado" %} {% get_checkmark room.be_window "Janela" %} {% get_checkmark room.be_balcony "Varanda" %} {% get_checkmark room.lock "Fechadura" %}
                </div>
                <div class="row mb-3">
                     {% get_number_beds room.num_single_beds "Cama de Solteiro" %} {% get_number_beds room.num_double_beds "Cama de Casado" %}
               </div>
            </div>
        </div>
    </div>
    {%endfor%} {%for kitchen in kitchens%}
    <div id='kitchen'>
        <div class="row">
            <div class="row p-1 ml-4">
                <h3 class="text-primary font-weight-bold">Cozinha {% if kitchens|length > 1 %} {{forloop.counter}} {% endif %}</h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">
                    {% get_checkmark kitchen.cooker "Fogão" %} {% get_checkmark kitchen.oven "Forno" %} {% get_checkmark kitchen.microwave "Microondas" %} {% get_checkmark kitchen.fridge "Frigorífico" %}
                </div>
                <div class="row mb-3">
                    {% get_checkmark kitchen.freezer "Congelador" %} {% get_checkmark kitchen.k_table "Mesa" %} {% get_checkmark kitchen.k_chairs "Cadeiras" %} {% get_checkmark kitchen.k_balcony "Lava Louças" %}
                </div>
                <div class="row mb-3">
                    {% get_checkmark kitchen.k_balcony "Varanda" %} {% get_checkmark kitchen.k_window "Janela" %} {% get_checkmark kitchen.dishes_cutlery "Pratos e Talheres" %} {% get_checkmark kitchen.pans_pots "Tachos e Panelas" %}
                </div>
                <div class="row mb-3">
                    {% get_checkmark kitchen.dishwasher_machine "Máquina de Lavar Loiça" %} {% get_checkmark kitchen.laundering_machine "Máquina de Lavar Roupa" %} {% get_checkmark kitchen.dryer "Máquina de Secar Roupa"%}
                </div>
            </div>
        </div>
    </div>
    {%endfor%} {%for bathroom in bathrooms%}
    <div id='bathroom'>
        <div class="row">
            <div class="row p-1 ml-4">
                <h3 class="text-primary font-weight-bold">Casa de Banho {% if bathrooms|length > 1 %} {{forloop.counter}} {% endif %}</h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">
                    {% get_checkmark bathroom.toilet "Sanita" %} {% get_checkmark bathroom.sink "Lavatório" %} {% get_checkmark bathroom.shower "Chuveiro" %} {% get_checkmark bathroom.bathtub "Banheira" %}
                </div>
                <div class="row mb-3">
                    {% get_checkmark bathroom.bidet "Bidé" %} {% get_checkmark bathroom.b_window "Janela" %}
                </div>
            </div>
        </div>
    </div>
    {%endfor%} {%for livingroom in livingrooms%}
    <div id='livingroom'>
        <div class="row">
            <div class="row p-1 ml-4">
                <h3 class="text-primary font-weight-bold">Sala de estar {% if livingrooms|length > 1 %} {{forloop.counter}} {% endif %}</h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">
                    {% get_checkmark livingroom.l_chairs "Cadeiras" %} {% get_checkmark livingroom.l_sofa "Sofá" %} {% get_checkmark livingroom.l_sofa_bed "Sofá-cama" %} {% get_checkmark livingroom.l_window "Janela" %}
                </div>
                <div class="row mb-3">
                    {% get_checkmark livingroom.l_table "Mesa" %} {% get_checkmark livingroom.l_balcony "Varanda" %} {% get_checkmark livingroom.l_desk "Secretária" %}
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    <div id='outside'>
        <div class="row">
            <div class="row p-1 ml-4">
                <h3 class="text-primary font-weight-bold">Exterior</h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">
                    {% get_checkmark property.garden "Jardim" %} {% get_checkmark property.garage "Garagem" %} {% get_checkmark property.street_parking "Estacionamento na rua" %}
                </div>
            </div>
        </div>
    </div>
    <div id='rent_included'>
        <div class="row">
            <div class="row p-1 ml-4">
                <h3 class="text-primary font-weight-bold">Despesas incluídas</h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">
                    {% get_checkmark property.internet "Internet" %} {% get_checkmark property.water "Água" %} {% get_checkmark property.electricity "Eletricidade" %} {% get_checkmark property.gas "Gás" %}
                </div>
                <div class="row mb-3">
                    {% get_checkmark property.cleaning_services "Serviço de Limpeza" %}
                </div>
            </div>
        </div>
    </div>
    <div id='listing_rules'>
        <div class="row">
            <div class="row p-1 ml-4 mt-4">
                <h3 class="text-primary font-weight-bold">Regras</h3>
            </div>
        </div>
        <div class="row pl-5 ml-5">
            <div class="col-sm-10">
                <div class="row mb-3">
                    {% get_checkmark property.smoke "Fumar" %} {% get_checkmark property.pets "Animais de estimação" %} {% get_checkmark property.overnight_visits "Prenoita de visitas ocasionalmente" %} {% get_checkmark listing.security_deposit "Caução" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}