{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/listingsManagement.css" %}'>
{% endblock %}
{% block scripts %}
    <script src='{% static "mainApp/js/listingsManagement.js"%}'></script>
{% endblock %}
{% block content %}
<div class="container mt-5 shadow-lg">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3>{% trans 'Gerir Anúncios' %}</h3>
            </div> 
        </div>
        <div class="table-responsive">
            <table class="table">
            <thead class="thead bg-info">
                <tr>
                <th class="text-white" scope="col">#</th>
                <th class="text-white" scope="col">{% trans 'Título' %}</th>
                <th class="text-white text-center" scope="col">{% trans 'Tipo' %}</th>
                <th class="text-white text-center" scope="col">{% trans 'Ativo' %}</th>
                <th class="text-white text-center" scope="col">{% trans 'Editar' %}</th>
                </tr>
            </thead>
            <tbody>
                {% if main_listing|length == 0%}
                    <tr>
                        <td>Não tem nenhum anúncio para esta propriedade, pretende anunciar esta propriedade?<a href="/mainApp/profile/propertiesManagement/listingEditing/createListing/{{property.id}}"> Sim</a></td>
                    </tr>
                {% else %}
                    {% for listing in main_listing%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{listing.title}}</td>
                            {% if listing.listing_type == 'Apartment'%}
                                <td class="text-center">Apartamento</td> 
                            {% elif listing.listing_type == 'House'%}
                                <td class="text-center">Casa</td>
                            {% elif listing.listing_type == 'Studio'%}
                                <td class="text-center">Estúdio</td>
                            {% else %}
                                <td class="text-center">Quarto</td>
                            {% endif %}
                            <td class="custom-control custom-switch text-center pl-5">
                                <form action="" method="POST" class="text-center pl-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="name" value="{{listing.id}}">
                                    <input type="checkbox" class="custom-control-input isActive" id="customSwitch1" name="isActive" {% if listing.is_active == 1%}checked{%endif%}>
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </form>
                            </td>
                            <td class="text-center"><a href="{{property.id}}/{{listing.id}}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                                                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                                                                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                                                                <line x1="16" y1="5" x2="19" y2="8" />
                                                                            </svg></a></td>
                        </tr>
                    {%endfor%}
                {%endif%}
            </tbody>
        </table>
        </div>
        
    </div>   
{% endblock %}