{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/login.css" %}'>
{% endblock %}
{% block scripts %}
<script src='{% static "mainApp/js/pwd_reset.js" %}'></script>
{% endblock %}
{% block content %}
    


    {% if request.session.popUp %}
        <script>
        $(document).ready(function(){
            $('#modalLogin').modal('show');
            $(".deletePOP").click(function() {
                $('#modalLogin').modal('hide');
            });
        })
        </script>
    {% endif %}

    <!--POP-UP-->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Confirmação E-mail' %}</h5>
            <form method="POST" action="{% url 'deletePopUp' %}">
                {% csrf_token %}
                <button type="submit" class="close deletePOP" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
            </div>
            <div class="modal-body">
            {% trans 'Enviámos-lhe um email de confirmação de conta, por favor confirme-a assim que possível.' %}
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'deletePopUp' %}">
                    {% csrf_token %}
                    <button type="submit" id="fecharRegister" class="btn btn-primary deletePOP">Fechar</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="mail_popup" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Mudança de password' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            {% trans 'Enviámos-lhe um link por email para proceder à alteração da sua password, por favor efetue assim que possível.' %}
            </div>
            <div class="modal-footer">
            <button type="button" id="close_mail_popup" class="btn btn-primary">Fechar</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="reset_done" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Password alterada' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            {% trans 'Password alterada com sucesso!' %}
            </div>
            <div class="modal-footer">
            <button type="button" id="close_reset_done" class="btn btn-primary">{% trans 'Fechar' %}</button>
            </div>
        </div>
        </div>
    </div>
    
    <!--LOGIN-->
    <div class="wrapper fadeInDown">
        <div class="formContent">
          <div class="fadeIn first">
            {% load static %}
            <img src='{% static "mainApp/images/user.svg" %}' id="icon" alt="User Icon" />
          </div>
          <form method='POST' action="{% url 'login_view' %}">
            {% csrf_token %}
            <input type="text" id="username" class="inputType1 fadeIn second" name="username" placeholder="{% trans 'Nome de Utilizador' %}">
            <input type="password" id="password" class="inputType1 fadeIn third" name="password" placeholder="{% trans 'Palavra-passe' %}">
            <a class="underlineHover textForget fadeIn third mx-auto" href="{% url 'password_reset' %}">{% trans 'Esqueceste-te da password' %}?</a>
            
            {% for message in messages %}

                <div class="w-75 alert alert-danger mx-auto text-center m-2">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <strong> {{ message }}</strong>

                </div>
            {% endfor %}
            <button type="submit" class="inputType2 fadeIn fourth btn btn-secondary m-2 font-weight-bold">{% trans 'Login' %}</button>
          </form>
          <div id="formFooter">
            <a class="underlineHover font-weight-bold fadeIn fourth" href="{% url 'changeToRegister' %}">{% trans 'Registe-se agora' %}</a>
          </div>
      
        </div>
    </div>
    
{% endblock %}