{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="container my-5 p-3 shadow-lg">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="row mt-3 mb-3">
                <a href="#" onclick="history.back();">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="11" y2="18" />
                        <line x1="5" y1="12" x2="11" y2="6" />
                    </svg>
                </a>
                <h3 class="mx-auto my-auto">{% trans 'Gerir Acordos' %}</h3>
            </div>
        </div> 
    </div>
    <div class="table-responsive">
        <table class="table">
        <thead class="thead bg-info">
            <tr>
            <th class="text-white" scope="col">#</th>
            <th class="text-white text-center" scope="col">{% trans 'Anúncio' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Início' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Fim' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Inquilino' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Emitir Fatura' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Pagamento em atraso' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Faturas' %}</th>
            <th class="text-white text-center" scope="col">{% trans 'Recibo' %}</th>
            </tr>
        </thead>
        <tbody>
            {% load app_extras %}
            {% for a, send_invoice, month, payment_warning in listAgreementAndPaid%}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="text-center pt-3">{{listing}}</td>
                        <td class="text-center pt-3">{{a.startsDate}}</td>
                        <td class="text-center pt-3">{{a.endDate}}</td>
                        <td class="text-center pt-3">{{a.tenant.ten_user.user}}</td>
                        <td class="text-center font-weight-bold {% if not send_invoice %} pt-3 {% endif %}">
                            {% if send_invoice %}
                                <form action="{% url 'send_invoice' %}" method="POST">
                                    {% csrf_token %}
                                    <input name="agreement_id" type='hidden' value="{{a.id}}">
                                    <button type="submit" class="btn bg-secondary text-white font-weight-bold">{% trans 'Fatura de' %} {{month}}</button>
                                </form>
                            {% else %}
                                {% trans 'Fatura emitida' %} <i class="fa fa-check text-green font-weight-bold" aria-hidden="yes"></i>
                            {% endif %}
                        </td>
                        <td class="text-center {% if payment_warning != None %} font-weight-bold pt-3 {% endif %}">
                            {% if payment_warning %}
                                {% trans 'Existem atrasos!' %}
                            {% elif payment_warning == None %}
                                {% trans 'Não existem atrasos' %}
                            {% else %}
                                {% trans 'Aviso já enviado' %} <i class="fa fa-check text-green font-weight-bold" aria-hidden="yes"></i>
                            {% endif %}</td>
                        <td class="text-center">
                            <form action="{% url 'invoicesLandlord' %}" method="POST">
                                {% csrf_token %}
                                <input name="agreement_id" type='hidden' value="{{a.id}}">
                                <button type="submit" class="btn bg-transparent border-secondary border-3 text-white font-weight-bold"><i class="fa fa-eye" style="color: #2a9d8f; font-size:22px" aria-hidden="true"></i></button>
                            </form>
                        </td>
                        <td class="text-center pt-3">hello</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    </div>
    
</div>
{% endblock %}