{% extends 'mainApp/base.html' %} 
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/notifications.css" %}'>
{% endblock %}
{% block scripts%}
    <script src='{% static "mainApp/js/notifications.js" %}'></script>
{% endblock %}
{% block content %}

<div class="container py-5 px-4 mt-5">
    <div class="row rounded-lg overflow-hidden shadow border border-warning border-5">
      <!-- Users box-->
      <div class="col-sm-5 px-0">
        <div class="bg-white">
  
          <div class="recenteNotificacoes px-4 py-2">
            <p class="h5 mb-0 py-1 text-white">{% trans 'Recentemente' %}</p>
          </div>
  
          <div class="messages-box">
            <div id="leftStart" class="list-group rounded-0">
                {% for el1,el2,el3,el4,el5,el6,el7,el8,el9,el10,el11,dateRequest,type in sorted_list_all_notifications %}
                    {% if type  == 'agreement_request' %}
                        {% if el9 is True %}
                            <a href="#" id="notifications_{{forloop.counter}}"   class='notification list-group-item list-group-item-action list-group-item-info rounded-0'>
                            {% load static %}
                            <div class="media"><img src='{% static "mainApp/images/userMsg.svg" %}' alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="mb-0 font-weight-bold">{{ el2 }}</h6><small class="small font-weight-bold">{{ el7 }}</small>
                                </div>
                                <p class="messageText font-italic text-muted mb-0 text-small">{{ el3|safe }}</p>
                                </div>
                            </div>
                            </a>
                        {% else %}
                            <form action="{% url 'checkReadLandlord' el1 %}" method="POST" id="myform_{{forloop.counter}}_{{ el1 }}" class="myform">
                            {% csrf_token %}
                            <a href="#" id="notifications_{{forloop.counter}}_{{ el1 }}" class='notification list-group-item list-group-item-action list-group-item-warning rounded-0'>
                                {% load static %}
                                <div class="media"><img src='{% static "mainApp/images/userMsg.svg" %}' alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="mb-0 font-weight-bold">{{ el2 }}</h6><small class="small font-weight-bold">{{ el7 }}</small>
                                    </div>
                                    <p class="messageText font-italic text-muted mb-0 text-small">{{ el3|safe }}</p>
                                </div>
                                </div>
                            </a>
                            </form>
                        {% endif %}
                    {% elif type == 'refund' %}
                        {% if el8 is True %}
                            <a href="#" id="notifications_{{forloop.counter}}"   class='notification list-group-item list-group-item-action list-group-item-info rounded-0'>
                            {% load static %}
                            <div class="media"><img src='{% static "mainApp/images/userMsg.svg" %}' alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="mb-0 font-weight-bold">{{ el2 }}</h6><small class="small font-weight-bold">{{ el11 }}</small>
                                </div>
                                <p class="messageText font-italic text-muted mb-0 text-small">{% trans 'Reembolso' %}.</p>
                                </div>
                            </div>
                            </a>
                        {% else %}
                            <form action="{% url 'checkReadLandlordRef' el1 %}" method="POST" id="myform_{{forloop.counter}}_{{ el1 }}" class="myformR">
                            {% csrf_token %}
                            <a href="#" id="notifications_{{forloop.counter}}_{{ el1 }}" class='notification list-group-item list-group-item-action list-group-item-warning rounded-0'>
                                {% load static %}
                                <div class="media"><img src='{% static "mainApp/images/userMsg.svg" %}' alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="mb-0 font-weight-bold">{{ el2 }}</h6><small class="small font-weight-bold">{{ el11 }}</small>
                                    </div>
                                    <p class="messageText font-italic text-muted mb-0 text-small">{% trans 'Reembolso' %}.</p>
                                </div>
                                </div>
                            </a>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- Caixa de notificações-->
      

      <div class="col-sm-7 px-0" style="background-color:white;" id="msgEmDetalhe">
        <div class="defaultNotifications">
            {% load static %}
            <img src='{% static "mainApp/images/message.svg" %}' class='img' id="defaultImg" alt='Image representing a message' />
        </div>
        {% for el1,el2,el3,el4,el5,el6,el7,el8,el9,el10,el11,dateRequest,type in sorted_list_all_notifications %}
            {% if type  == 'agreement_request' %}
                <div id = "content_{{forloop.counter}}"class='contentNotification' style="display:none">
                    <div class="row mb-0 mt-0 p-0 pl-0 ml-0 bg-secondary rounded-bottom">
                        <h4 class="text-white mt-3 pl-3"> {% trans 'Interessado' %} </h4>
                    </div>
                    <div class="row m-2">
                    <p class= "text-info font-weight-bold">{% trans 'Remetente' %}:&nbsp </p>
                    <form action="{% url 'profileTenant' el11 %}" method="POST" id="tenant_form_{{ el11 }}">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('tenant_form_{{ el11 }}').submit();" class="font-weight-bold"><u class= "text-primary">{{ el2 }}</u></a>
                    </form>
                    </div>
                    <div class="row m-2">
                    <p class= "text-info font-weight-bold">{% trans 'Propriedade' %}:&nbsp </p>
                    <form action="{% url 'propertyListingNotif' el1 %}" method="POST" id="property_form_{{ el1 }}">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('property_form_{{ el1 }}').submit();" class="font-weight-bold"><u class= "text-primary">{{ el8 }}</u></a>
                    </form>
                    </div>
                    <div class="row m-2">
                        <p class= "text-info font-weight-bold">{% trans 'Data Início' %}:&nbsp </p>
                        <p class= "text-info"> {{ el4 }}</p>
                    </div>
                    <div class="row m-2">
                        <p class= "text-info font-weight-bold">{% trans 'Data término' %}:&nbsp </p>
                        <p class= "text-info"> {{ el5 }}</p>
                    </div>
                    <div class="row m-2">
                        <p class="text-info font-weight-bold">{% trans 'Mensagem do Interessado' %}:&nbsp</p>
                        <p class="text-info">{{ el3|safe }}</p>
                    </div>
                    
                    {% if el6 is None %}
                    <div class="row m-2">
                    <p class="text-info font-weight-bold">{% trans 'Mensagem de resposta (opcional)' %}:&nbsp</p>
                    </div>
                    <div class="row d-flex justify-content-center mb-5">
                        <form method="POST" action="{% url 'accept_deny_request' el1 %}">
                        {% csrf_token %}
                        <p hidden>{{form}}</p>
                        {{form.media}}
                        <div class="col-5 mx-auto">
                            <input type="submit" class="btn btn-info font-weight-bold" name="deny" value="{% trans 'Recusar' %}">
                            <input type="submit" class="btn btn-info font-weight-bold float-right" name="accept" value="{% trans 'Aceitar' %}">
                        </div>
                        </form>
                    </div>
                    {% else %}
                    {% if el10 != '' %}
                        <div class="row m-2">
                        <p class="text-info font-weight-bold">{% trans 'A sua mensagem' %}:&nbsp</p>
                        {{el10|safe}}
                        </div>
                    {% endif %}
                    <div class="row m-2">
                        <p class="text-info font-weight-bold">{% trans 'Estado do pedido' %}:&nbsp</p>
                        {% if el6 is True %}
                        <p class="text-info">{% trans 'Aceite' %}</p>
                        {% else %}
                        <p class="text-info">{% trans 'Recusado' %}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            {% elif type == 'refund' %}
                <div id = "content_{{forloop.counter}}" class='contentNotification' style="display:none">
                    <div class="row mb-0 mt-0 p-0 pl-0 ml-0 bg-secondary rounded-bottom">
                        <h4 class="text-white mt-3 pl-3"> {% trans 'Reembolso' %} </h4>
                    </div>
                    <div class="row m-2">
                    <p class= "text-info font-weight-bold">{% trans 'Remetente' %}:&nbsp </p>
                    <form action="{% url 'profileTenant' el10 %}" method="POST" id="tenantRef_form_{{ el10 }}">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('tenantRef_form_{{ el10 }}').submit();" class="font-weight-bold"><u class= "text-primary">{{ el2 }}</u></a>
                    </form>
                    </div>
                    <div class="row m-2">
                    <p class= "text-info font-weight-bold">{% trans 'Propriedade' %}:&nbsp </p>
                    <form action="{% url 'propertyListingRef' el1 %}" method="POST" id="propertyRef_form_{{ el1 }}">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('propertyRef_form_{{ el1 }}').submit();" class="font-weight-bold"><u class= "text-primary">{{ el5 }}</u></a>
                    </form>
                    </div>
                    <div class="row m-2">
                        <p class= "text-info font-weight-bold">{% trans 'Data Início' %}:&nbsp </p>
                        <p class= "text-info"> {{ el6 }}</p>
                    </div>
                    <div class="row m-2">
                        <p class= "text-info font-weight-bold">{% trans 'Data de término planeada' %}:&nbsp </p>
                        <p class= "text-info"> {{ el7 }}</p>
                    </div>
                    <div class="row m-2">
                    <p class= "text-info font-weight-bold">{% trans 'Data de cancelamento do acordo' %}:&nbsp </p>
                    <p class= "text-info"> {{ el4 }}</p>
                    </div>
                    <div class="row m-2">
                    <p class= "text-info font-weight-bold">{% trans 'Valor do reembolso' %}:&nbsp </p>
                    <p class= "text-info"> {{ el3 }}</p>
                    </div>
                    <div class="row m-2">
                    <div>
                        <p class="text-info font-weight-bold">{% trans 'Mensagem' %}:&nbsp</p>
                        <p class="text-info">{% trans 'O utilizador' %} <strong>{{ el2 }}</strong> {% trans 'decidiu terminar o acordo planeado inicialmente.' %} <br> 
                        {% trans 'Você fica então responsabilizado de pagar o reembolso relativo aos dias que faltavam para terminar o acordo inicial.' %}
                        </p>
                    </div>
                    </div>
                    {% if el9 is True %}
                    <div class="row m-2">
                        <p class="text-info font-weight-bold">{% trans 'Estado do pedido' %}:&nbsp</p>
                        <p class="text-info">{% trans 'Pago' %}</p>
                    </div>
                    {% else %}
                    <div class="row d-flex justify-content-center">
                        <form method="POST" action="{% url 'make_payment_refunds' el1 %}">
                        {% csrf_token %}
                        <div class="col-sm-6 mt-2 mb-2">
                            <button type="submit" class="btn btn-info font-weight-bold mx-auto" >{% trans 'Pagar' %}</button>
                        </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
      </div>
  </div>
</div>

{% endblock %}