{% extends 'mainApp/base.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/notifications.css" %}'>
{% endblock %}
{% block content %}

<div class="container mt-5 mb-5 p-0 notifications">
    <div class="row">
        <div class="col-sm-3 rounded-top bg-warning border border-warning border-1 rounded-left p-0"> 
            <div class="scrollClass">
                <div class="row m-0">
                    <div class="col rounded-top bg-info mb-1 mt-1 p-1 pl-3 ml-1"><h5 class="my-auto  text-white pl-1" >Hoje</h5></div>
                </div>
    
                <div class="row col-sm-12 ml-0">
                    <img src='{% static "mainApp/images/userMsg.jpg" %}' class=" userImg mt-1 mb-1 " alt="message" width="200" height="236">
                    <h6 class="text-info font-weight-bold mt-3 pl-2"> Zezinho </h6>
                </div>
    
                <div class="row m-0">
                    <p class="text-info mb-3 pl-3 border-bottom border-info"> Donec et aliquet sem, et rutrum orci. Vestibulum egestas ornare enim non dapibus.</p>
                </div>

                <div class="row col-sm-12 ml-0">
                    <img src='{% static "mainApp/images/userMsg.jpg" %}' class="userImg mt-1 mb-1 " alt="message" width="200" height="236">
                    <h6 class="text-info font-weight-bold mt-3 pl-2"> Zezinho1 </h6>
                </div>
    

                <div class="row m-0">
                    <p class="text-info mb-3 pl-3 border-bottom border-info"> Nulla ut augue vel tortor egestas imperdiet sed nec magna. Mauris tincidunt lobortis pretium. Proin cursus ac turpis sodales porttitor. Morbi non hendrerit ante. Maecenas pretium sem ac leo dignissim hendrerit. Duis at purus rutrum, tincidunt arcu at, aliquet diam.</p>
                </div>
    
            </div>
            <div class="scrollClass">
                <div class="row m-0">
                    <div class="col rounded-top bg-info mb-1 mt-1 p-1 pl-3 ml-1"><h5 class="my-auto  text-white text-left" >Ontem</h5></div>
                </div>
    
                <div class="row m-0 col-sm-12 ml-0">
                    <img src='{% static "mainApp/images/userMsg.jpg" %}' class="userImg mt-1 mb-1 " alt="message" width="200" height="236">
                    <h6 class="text-info font-weight-bold mt-3 pl-2" > Zezinho2 </h6>
                </div>
    
                <div class="row m-0">
                    <p class="text-info mb-3 pl-3 border-bottom border-info"> Etiam congue sem quis diam facilisis efficitur at et purus. Praesent molestie pretium justo ut convallis. Etiam varius felis ligula, eget rhoncus dui commodo in.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-9 border border-warning border-5 rounded-right" style="background-color:white;" id="msgEmDetalhe">
                <img src='{% static "mainApp/images/message.jpg" %}' class="rounded imageMsg mt-5 pl-5 mx-auto" alt="message" width="304" height="236"> 
        </div>
    
    </div>
</div>


{% endblock %}