{% extends 'mainApp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href='{% static "mainApp/css/payment.css" %}'>
<!-- writes out the form tag automatically -->
{{ pp_form.render }}

<div class="row">
    <div class= "col-sm-6 mx-auto my-auto pl-0">
        <div class="wrapper fadeInDown">
            <div class="formContent pl-0">
                <div class="fadeIn first">
                    {% load static %}
                    <h5 class="font-weight-bold mt-3 mb-3">MÉTODO DE PAGAMENTO</h6>
                    <div class = "form row">
                        <div class="form-check ml-5">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="flexCheckDefault">Multibanco</label>
                        </div>
                        <div class="form-check ml-5">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="flexCheckDefault">Mb way</label>
                        </div>
                        <div class="form-check ml-5">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="flexCheckDefault">Apple pay</label>
                        </div>
                        <div class="form-check ml-5">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="flexCheckDefault">Paypall</label>
                        </div>
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">DETALHES DE PAGAMENTO</h6>
                    <div class = "row mb-2">
                        <input type="text" class="inputType1 fadeIn second mx-auto" placeholder="Nome do detentor do cartão">
                    </div>
                    <div class = "row mb-2 ">
                            <input type="text" class="inputType1 fadeIn second mx-auto" placeholder="Número do cartão">
                    </div>

                    <div class = "row">
                        <div class = "col-sm-4 my-auto">
                            <a class="" href="">Voltar atrás</a>
                        </div>
                        <div class = "col-sm-1"></div>
                        <div class = "col-sm-7">
                            <button type="submit" class=" fadeIn fourth btn btn-secondary m-2 ml-3 font-weight-bold">Efetuar pagamento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class= "col-sm-6">
        <div class="wrapper fadeInDown">
            <div class="formContent bg-secondary pr-0">
                <div class="fadeIn first">
                    {% load static %}
                    <h5 class="font-weight-bold mt-3 mb-3 text-white"> VALOR A PAGAR</h6>
                    <div class = "row">
                        <div class = "col-sm-3">
                            <div class = "display-4 text-white font-weight-bold ml-4 text-right">749</div>
                        </div>
                        <div class = "col-sm-9 my-auto">
                            <h4 class = "display-5 text-white-50 font-weight-bold text-lg-left">.99€</h4>
                        </div>
                        
                        
                    <div class = "row mt-4">
                        <h5 class = "text-white font-weight-bold ml-5">Senhorio:</h5>
                        <h5 class = "text-white-50 font-weight-bold ml-2">Roberto Andre</h5>
                    </div>

                    <div class = "row mt-2">
                        <h5 class = "text-white font-weight-bold ml-5">Número do pedido:</h5>
                        <h5 class = "text-white-50 font-weight-bold ml-2">123445567</h5>
                    </div>
                    <div class = "row mt-2">
                        <h5 class = "text-white font-weight-bold ml-5">Tipo de serviço:</h5>
                        <h5 class = "text-white-50 font-weight-bold ml-2">Arrendamento</h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</div>



{% endblock %}

