{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/profile.css" %}'>
{% endblock %}
{% block content %}





    {% if request.session.addPropPopUp %}
        <script>
            $(document).ready(function(){
                $('#modalLoginAddProp').modal('show');
                $(".deletePOP").click(function() {
                    $('#modalLoginAddProp').modal('hide');
                });
            })
        </script>
    {% endif %}

    <!--POP-UP-->
    <div class="modal fade" id="modalLoginAddProp" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Adicionou uma nova propriedade!' %}</h5>
        <form method="POST" action="{% url 'deletePopUpProp' %}">
            {% csrf_token %}
            <button type="submit" class="close deletePOP" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
        </div>
        <div class="modal-body">
        {% trans 'Parabéns, adicionou uma nova propriedade à sua conta!' %}
        </div>
        <div class="modal-footer">
            <form method="POST" action="{% url 'deletePopUpProp' %}">
                {% csrf_token %}
                <button type="submit" id="fecharRegister" class="btn btn-primary deletePOP">Fechar</button>
            </form>
        </div>
    </div>
    </div>
    </div>


    <div class="container mt-5">
        <div class="row bg-info p-2"><h3 class="mx-auto my-auto  text-white ">{% trans 'Perfil' %}</h3></div>
        <div class="row">
            <!-- List of options-->
            <div class="col-sm-3 bg-secondary">
                <div class="row text-white">
                    <!-- Options-->    
                    <div class="col-sm-12 p-3 text-center border-bottom">
                        <a class="text-white" href="profile" id="profile"><img src="{% static "mainApp/images/user.svg" %}" alt="" class="img-fluid">
                            <h3 class="mb-0 text-white">{{user.first_name}} {{user.last_name}}</h3>
                        </a>
                    </div>
                    {% if request.session.typeUser == "Landlord" %}
                        <!--If landlord-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="/mainApp/profile/propertiesManagement"><button type="button" class="btn btn-info w-100">{% trans 'Gerir Alojamentos/Anuncios' %}</button></a>
                        </div>
                        <!--If landlord-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="/mainApp/profile/addProperty"><button type="button" class="btn btn-info w-100">{% trans 'Adicionar Alojamento' %}</button></a>
                        </div>
                        <!--If landlord-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="#"><button type="button" class="btn btn-info w-100">{% trans 'Gerir Acordos' %}</button></a>
                        </div>
                    {% else %}
                        <!--If tenant-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="#"><button type="button" class="btn btn-info w-100">{% trans 'Ver Acordos' %}</button></a>
                        </div>
                        <!--If tenant-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="#"><button type="button" class="btn btn-info w-100">{% trans 'Cancelar Acordo' %}</button></a>
                        </div> 
                        {% if diffDates <= 30 and diffDates >= 1 %}
                            <!--If tenant-->
                            <div class="col-sm-12 p-3">
                                <a class="text-white" href="profile/renewAgreement"><button type="button" class="btn btn-info w-100">{% trans 'Renovar Acordo' %}</button></a>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
            <!--Details-->
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 p-3 ">
                        {% trans 'Informação do perfil' %}  <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at ante est. Etiam et leo quis lorem euismod eleifend in non nulla. Suspendisse venenatis id enim a facilisis. Curabitur pulvinar felis eget quam feugiat aliquam.
                         Cras vitae nisi magna. Praesent sodales vestibulum facilisis. Vivamus non congue tortor, sit amet iaculis eros. Fusce fringilla augue eu dolor eleifend, et suscipit nunc vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}