{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/login.css" %}'>
{% endblock %}
{% block scripts %}
    <script src='{% static "mainApp/js/profileTenant.js" %}'></script>
{% endblock %}
{% block content %}
    
    <div class="container my-5 border border-info border-5 rounded shadow-lg">
        <div class="row bg-info p-2">
            <a href="#" onclick="history.back();">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="5" y1="12" x2="19" y2="12" />
                    <line x1="5" y1="12" x2="11" y2="18" />
                    <line x1="5" y1="12" x2="11" y2="6" />
                </svg>
            </a>
            <h1 id="startingTitle" class="mx-auto my-auto text-white text-24">{% trans 'Dados Pessoais' %}</h1>
        </div>
        <div class="row">
            
            <!--User Details-->
            <div class="col-sm-9 mx-auto">
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <div class="row">
                            <div class="col-sm-6 pt-3 mx-auto">
                                <img src='{% static image %}' alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

                
                    <div id="starting_div">
                        <div class="row justify-content-center">
                            <div class="col-6 p-3">
                                <p class="text-info pl-5 mb-0 font-weight-bold mx-auto">{% trans 'Nome' %}:</p>
                                <input type="text" class="inputType1 ml-4" value="{{tenant_user.first_name}} {{tenant_user.last_name}}" name="first_name" readonly>
                            </div>
                            <div class="col-6 p-3">
                                <p class="text-info pl-5 mb-0 font-weight-bold">{% trans 'Universidade' %}:</p>
                                <input type="text" class="inputType1 ml-4" value="{{tenant.university}}" name="Universidade" readonly>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 p-3">
                                <p class="text-info pl-5 mb-0 font-weight-bold">{% trans 'Email' %}:</p>
                                <input type="text" class="inputType1 ml-4" value="{{tenant_user.email}}" name="email" readonly>
                            </div>
                            <div class="col-6 p-3">
                                <p class="text-info pl-5 mb-0 font-weight-bold">{% trans 'Número de telefone' %}:</p>
                                <input type="number" class="inputType1 ml-4" value="{{ tenant_app_user.phoneNumber }}" name="phoneNumber" readonly>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <h3 class="mb-0 text-info text-right">{% trans 'Histórico de Incidências' %}:</h3>
                        </div>
                        {% for incidence in incidences %}
                        <h5 class="font-weight-bold mb-4">{% trans 'Incidência' %} &nbsp{{forloop.counter}}:&nbsp</h5>
                        <ul class="border border-info border-3">
                            <li class="mt-4"><span class="font-weight-bold">{% trans 'Data' %}:&nbsp</span> {{incidence.filing_time}}</li>
                            {% if incidence.grouds_for_termination is True %}
                                <li class="mt-4 mb-4"><span class="font-weight-bold">{% trans 'Justificado terminar contrato?' %} &nbsp</span> Sim</li>
                            {% else %}    
                                <li class="mt-4 mb-4"><span class="font-weight-bold">{% trans 'Justificado terminar contrato?' %} &nbsp</span> Não</li>
                            {% endif %}
                            <li class="mt-4"><span class="font-weight-bold">{% trans 'Descrição' %}: &nbsp</span> {{incidence.description}}</li>
                            {% for cause in causes_description %}
                                <li class="mt-4 mb-4"><span class="font-weight-bold">{% trans 'Razão de incidência' %} &nbsp{{forloop.counter}}:</span> {{cause}}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>                
            </div>
        </div>
    </div>
{% endblock %}