{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/profile.css" %}'>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row bg-info p-2"><h3 class="mx-auto my-auto  text-white ">{% trans 'Perfil' %}</h3></div>
        <div class="row">
            <!-- List of options-->
            <div class="col-sm-3 bg-secondary">
                <div class="row text-white">
                    <!-- Options-->    
                    <div class="col-sm-12 p-3 text-center border-bottom">
                        <a class="text-white" href="profile" id="profile"><img src="{% static "mainApp/images/user.svg" %}" alt="" class="img-fluid">
                            <h3 class="mb-0 text-white">{{user.first_name}} {{user.last_name}}</h3>
                        </a>
                    </div>
                    {% if request.session.typeUser == "Landlord" %}
                        <!--If landlord-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="profile/propertiesManagement">{% trans 'Gerir Alojamentos' %}</a>
                        </div>
                        <!--If landlord-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="addProperty">{% trans 'Adicionar Alojamento' %}</a>
                        </div>
                        <!--If landlord-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="#">{% trans 'Gerir Acordos' %}</a>
                        </div>
                    {% else %}
                        <!--If tenant-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="#">{% trans 'Ver Acordos' %}</a>
                        </div>
                        <!--If tenant-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="#">{% trans 'Cancelar Acordo' %}</a>
                        </div> 
                        <!--If tenant-->
                        <div class="col-sm-12 p-3">
                            <a class="text-white" href="listing/{{ idListing }}">{% trans 'Renovar Acordo' %}</a>
                        </div>
                    {% endif %}

                </div>
            </div>
            <!--Details-->
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 p-3 ">
                        {% trans 'Informação do perfil' %}  <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at ante est. Etiam et leo quis lorem euismod eleifend in non nulla. Suspendisse venenatis id enim a facilisis. Curabitur pulvinar felis eget quam feugiat aliquam.
                         Cras vitae nisi magna. Praesent sodales vestibulum facilisis. Vivamus non congue tortor, sit amet iaculis eros. Fusce fringilla augue eu dolor eleifend, et suscipit nunc vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies dui risus, vitae egestas sem semper vitae.
                          Sed euismod augue luctus aliquam sagittis. Curabitur rhoncus ultricies mauris a accumsan. Vivamus vitae commodo eros. Quisque euismod sit amet est id dignissim. Curabitur lobortis blandit fermentum. Ut fringilla volutpat nibh at semper.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}