{% extends 'mainApp/base.html' %}
{% load static %}
{% block scripts %}
<script src='{% static "mainApp/js/pwd_reset.js" %}'></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/login.css" %}'>
{% endblock %}
{% block content %}

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Mudança de password' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% trans 'Enviámos-lhe um link por email para proceder à alteração da password, por favor efetue assim que possível' %}.
        </div>
        <div class="modal-footer">
        <button type="button" id="fecharRegister" class="btn btn-primary">Fechar</button>
        </div>
    </div>
    </div>
</div>


<div class="wrapper2 container">
    <div class="formContent2">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center mt-3 mb-4">{% trans 'Recuperação password' %}</h2>
                <br>
                <br>
                <p class="small">{% trans 'Por favor insira o endereço de email associado à sua conta.<br> Será enviado um email em breve' %}.</p>
            </div>
        </div>
        <div class="">
            <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="ml-4 mb-3 field-email">
                    {{ form.email.errors }}
                    <div class="">
                        <label for="id_email" class="mx-auto">{% trans 'Endereço de email' %}:</label>
                    </div>
                    <div class="">
                        <input type="text" class="mx-auto inputType1">{{ form.email }}</input>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="mx-auto email_sent butReset btn btn-secondary m-2 font-weight-bold" value="Reset my password">
                </div>
            </fieldset>
            </form>
        </div>
        
    </div>
</div>


{% endblock %}