{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/login.css" %}'>
{% endblock %}
{% block content %}

{% if validlink %}



<div class="wrapper2 container">
    <div class="formContent2">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center mt-3 mb-4">{% trans 'Alteração palavra-passe' %}</h2>
                <br>
                <p class="small">{% trans 'Por favor insira a sua nova palavra-passe' %}.</p>
            </div>
        </div>
        
        <div class="mt-3">
            <div class="row">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class='mx-auto col-sm-8 alert alert-danger' id="errorBox">
                            <!--{{errors}}-->
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="field-password1">
                        
                        <!--{{ form.new_password1.errors }}-->
                        
                        <div class="row">
                            <label class="mx-auto" for="id_new_password1">Nova palavra-passe:</label>
                        </div>
                        <!--{{ form.new_password1 }}-->
                        <div class="row">
                            <div class="col-sm">
                                <input type="password" class="inputType1" name="new_password1">
                            </div>
                        </div>
                    </div>
                    <div class="field-password2">
                        
                        <!--{{ form.new_password2.errors }}-->
                        
                        <div class="row">
                            <label class="mx-auto" for="id_new_password2">Confirmar nova palavra-passe:</label>
                        </div>
                            <!--{{ form.new_password2 }}-->
                            <div class="row">
                                <div class="col-sm">
                                    <input type="password" class="inputType1" name="new_password2">
                                </div>
                            </div>    
                    </div>
                    <div class="row mt-3"></div>
                        <input type="submit" class="mx-auto email_sent butReset btn btn-secondary m-2 font-weight-bold" value="Alterar password">
                    </div>
                </fieldset>
            </form>
    </div>
        
        
    </div>
</div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}