{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/payment.css" %}'>
{% endblock %}
{% block scripts %}
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<div class = "container-fluid my-auto mt-4">
    <div class= "text-center mt-4 mb-4"><h1 class = "text-info font-weight-bold">Término do aluguer</h1></div>
    <div class="row align-items-start p-3">
        <div class="col-sm-4">
            <div class="row fadeInDown mx-auto">
                <div class="formContent mx-auto bg-primary border border-top rounded p-1">
                    <div class="fadeIn first">
                        <h4 class="font-weight-bold mt-3 mb-3 text-white"> Dados do aluguer:</h4>         
                        <div class = "row mt-4">
                            <h5 class = "text-white font-weight-bold ml-5">Nome do inquilino:</h5>
                            <h5 class = "text-white-50 font-weight-bold ml-2">{{tenant_name}}</h5>
                        </div>
                        <div class = "row mt-2">
                            <h5 class = "text-white font-weight-bold ml-5">Nome da propriedade:</h5>
                            <h5 class = "text-white-50 font-weight-bold ml-2">{{listing_name}}</h5>
                        </div>
                        <div class = "row mt-2">
                            <h5 class = "text-white font-weight-bold ml-5">{% trans 'Data de entrada' %}:</h5>
                            <h5 class = "text-white-50 font-weight-bold ml-2">{{start}}</h5>
                        </div>
                        <div class = "row mt-2">
                            <h5 class = "text-white font-weight-bold ml-5">{% trans 'Data de saída' %}:</h5>
                            <h5 class = "text-white-50 font-weight-bold ml-2">{{end}}</h5>
                        </div>
                        <div class = "row mt-2 mb-3">
                            <h5 class = "text-white font-weight-bold ml-5">{% trans 'Duração do contrato' %}:</h5>
                            <h5 class = "text-white-50 font-weight-bold ml-2"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="p-1">
                <h5 class="text-primary text-left ml-4 font-weight-bold mb-4">Seleciona caraterísticas que comprometam a relação senhorio-inquilino</h5>
                <form>
                    <div class="form-check text-left ml-4">
                        <input class="form-check-input mr-2" type="checkbox">
                        <i class="fas fa-clock"></i>
                        <label class="form-check-label">Incumprimento do prazo de pagamento das rendas</label>
                    </div>
                    <div class="form-check text-left ml-4">
                        <input class="form-check-input mr-2" type="checkbox">
                        <i class="fas fa-house-damage"></i>
                        <label class="form-check-label">Utilização inadequada do recheio da propriedade, danificando a mesma</label>
                    </div>
                    <div class="form-check text-left ml-4">
                        <input class="form-check-input mr-2" type="checkbox">
                        <i class="fas fa-volume-up"></i>
                        <label class="form-check-label">Incumprimento continuado da lei do ruído</label>
                    </div>
                    <div class="form-check text-left ml-4">
                        <input class="form-check-input mr-2" type="checkbox">
                        <i class="fas fa-minus-circle"></i>
                        <label class="form-check-label">Violação de uma regra específica do contrato de aluguer</label>
                    </div>
                    <div class="form-check text-left ml-4">
                        <input class="form-check-input mr-2" type="checkbox">
                        <i class="fas fa-user-friends"></i>
                        <label class="form-check-label">Desacatos com vizinhos e mal-estar geral com a vizinhança</label>
                    </div>
                    <div class="form-check text-left ml-4">
                        <input class="form-check-input mr-2" type="checkbox">
                        <i class="fas fa-users"></i>
                        <label class="form-check-label">Exceder frequentemente a lotação máxima da propriedade sem custos associados</label>
                    </div>
                    <div class="form-group ml-4 mt-3">
                        <label for="exampleFormControlTextarea1">Para além das opções assinaldas pode escrever uma breve descrição que ilustre a situação no campo abaixo:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
                <div class="row justify-content-end mt-4">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary mt-3">Apenas adicionar uma incidência</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary mt-3">Terminar o contrato de aluguer</button>
                    </div> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}