{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="container my-5 p-3 shadow-lg">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="row mt-3 mb-3">
                <a href="#" onclick="history.back();">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#264653" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="11" y2="18" />
                        <line x1="5" y1="12" x2="11" y2="6" />
                    </svg>
                </a>
                <h3 class="mx-auto my-auto">{% trans 'Recibos' %}</h3>
            </div>
        </div> 
    </div>
    {% if fullList|length == 0 %}
        
        <div class="row my-5">
            <div class="col-12">
                <h2 class="text-center text-16 pl-5">{% trans 'Ainda não existem recibos para este acordo' %}</h2>
            </div>
        </div>
        <div class="row my-5">
            <img src='{% static "mainApp/images/empty.svg" %}' class='mx-auto' width='270'>
        </div>
    {% else %}
    <div class="table-responsive">
        <table class="table">
        <thead class="thead bg-info">
            <tr>
                <th class="text-white" scope="col">#</th>
                <th class="text-white text-center" width="25%" scope="col">{% trans 'Número do Recibo' %}</th>
                <th class="text-white text-center" width="25%" scope="col">{% trans 'Mês' %}</th>
                <th class="text-white text-center" width="25%" scope="col">{% trans 'Ver Fatura' %}</th>
                <th class="text-white text-center" width="25%" scope="col">{% trans 'Ver Recibo' %}</th>
            </tr>
        </thead>
        <tbody>
                {% for r, i in fullList%}
                    <tr>
                        {% load app_extras %}
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="text-center font-weight-bold">#{{r.id}}</td>
                        <td class="text-center">{{r.month.month|month_name}}</td>
                        <td class="text-center">
                            <form action="{% url 'get_invoice_pdf' %}" method="POST" target="_blank">
                                {% csrf_token %}
                                <input name="invoice_id" type='hidden' value="{{r.id}}">
                                <button type="submit" class="btn bg-transparent border-secondary border-3 text-white font-weight-bold"><i class="fa fa-eye" style="color: #2a9d8f; font-size:22px" aria-hidden="true"></i></button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="{% url 'get_receipt_pdf' %}" method="POST" target="_blank">
                                {% csrf_token %}
                                <input name="receipt_id" type='hidden' value="{{r.id}}">
                                <button type="submit" class="btn bg-transparent border-secondary border-3 text-white font-weight-bold"><i class="fa fa-eye" style="color: #2a9d8f; font-size:22px" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}