{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/login.css" %}'>
{% endblock %}
{% block scripts %}
<script src='{% static "mainApp/js/register.js" %}'></script>
{% endblock %}
{% block content %}

<div class="wrapper container">
    <div class="formContent">
        
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center mt-3 mb-4">{% trans 'Registo' %}</h2>
            </div>
        </div>
        <div class="row">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
            <div class='mx-auto col-sm-8 alert alert-danger' id="errorBox">
                <!--{{errors}}-->
                <strong>{{ error|escape }}</strong>
            </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form method='POST' action="{% url 'register_view' %}">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.username  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.password1  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.password2  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.first_name  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.last_name  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.email  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ pform.phoneNumber  }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <label for="birthdate">{% trans 'Data de Nascimento' %}:</label>
                    {{ pform.birthDate  }}
                    <script type="text/javascript">
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0 so we gotta add 1
                        var yyyy = today.getFullYear();
                        max18yo(dd,mm,yyyy,today);
                    </script>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <p class="">{% trans 'Tipo de Conta' %}:</p>
                    <label for="" class="radio-inline ml-5 mx-auto">
                        <input type="radio" name="tipo" class="inputType1" value="Inquilino"> {% trans 'Inquilino' %} 
                    </label>
                    <label for="" class="radio-inline ml-5 mx-auto">
                        <input type="radio" name="tipo" class="inputType1" value="Senhorio"> {% trans 'Senhorio' %}
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <input type="submit" id="registerSubmit" class="inputType2 w-50 btn btn-secondary font-weight-bold mx-auto"  value="Registar">
            </div>
        </form>
    </div>
</div>

{% endblock %}