{% extends 'mainApp/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/register.css" %}'>
{% endblock %}
{% block content %}

<div class="wrapper container mt-5">
    <div id="formContent2">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center mt-3 mb-4">Registo</h2>
            </div>
        </div>
        <form method='POST' action="{% url 'register_view' %}">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-sm">
                    <input type="text" name="username" class="inputType1 " placeholder="Nome de Utilizador">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <input type="password" name="password1" class="inputType1 " placeholder="Palavra-passe">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <input type="password" name="password2" class="inputType1 " placeholder="Confirme a palavra-passe">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <input type="text" name="first_name" class="inputType1 " placeholder="Primeiro nome">
                    <input type="text" name="last_name" class="inputType1 " placeholder="Apelido">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <input type="email" name="email" class="inputType1" placeholder="E-mail">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <input type="text" name="phoneNumber" class="inputType1" placeholder="Número de Telefone">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <label for="birthdate">Data de Nascimento:</label>
                    <input type="date" name="birthDate" class="inputType1">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <p class="">Tipo de Conta:</p>
                    <label for="" class="radio-inline">
                        <input type="radio" name="tipo" class="inputType1" value="Inquilino"> Inquilino 
                    </label>
                    <label for="" class="radio-inline">
                        <input type="radio" name="tipo" class="inputType1" value="Senhorio"> Senhorio
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <input type="submit" class="inputType2 w-50 btn btn-secondary font-weight-bold mx-auto" value="Registar">
            </div>
        </form>
    </div>
</div>

{% endblock %}