{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
<!--{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}-->
{% block content %}
    
<div class="container">
    <div class="row p-3" id="datesIntent">
        <div class="row col-sm-12 mb-0 mt-2 p-0 pl-0 ml-0 bg-warning">
            <a href="#" onclick="history.back();">
                <img src='{% static "mainApp/images/arrow.jpg" %}' class="rounded housesMsg mt-0" alt="arrow" width="45" height="50">
            </a>
            <h4 class="text-right text-info my-auto ml-3 font-weight-bold"> {% trans 'Quero renovar!' %} </h4>
        </div>
        <form method="POST" action="{% url 'create_request' %}" class="col" style="background-color:white;">
            {% csrf_token %}         
            <div class="form-group row mt-4 mb-2">
                <label for="example-date-input" class="col-sm-3 col-form-label">{% trans 'Data de Início' %}:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="date" name="startsDate" value="{{ startDate_v2 }}">
                </div>
            </div>
            <div class="form-group row mt-4 mb-2">
                <label for="example-date-input" class="col-sm-3 col-form-label">{% trans 'Data de Fim' %}:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="date" name="endDate" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="text-info font-weight-bold mb-3 mt-3">{% trans 'Mensagem a enviar ao senhorio' %}:</h6>
                </div>
            </div>
            <textarea class="border border-info border-3 mx-auto w-100 h-75" placeholder='{% trans "Introduza uma mensagem a enviar ao senhorio..." %}' style="text-indent: 0px;" name="message"></textarea>
            <div class="row mt-4">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-secondary btn-lg w-25">Enviar</button>
                </div>
            </div>
        </form>
        <div class="col-sm-4 mt-4 mx-auto">
                 <h5 class="font-weight-bold mb-4">Informação do acordo atual:</h5>
                  <ul class="border border-info border-3">
                    <li class="mt-4"><span class="font-weight-bold">{% trans 'Data de Início' %}:</span> {{ startDate }}</li>
                    <li class="mt-4"><span class="font-weight-bold">{% trans 'Data de Fim' %}:</span> {{ endDate }}</li>
                    <li class="mt-4"><span class="font-weight-bold">{% trans 'Morada da propriedade' %}:</span> {{ propAddress }}</li>
                    <li class="mt-4 mb-4"><span class="font-weight-bold">{% trans 'Nome do senhorio' %}:</span> {{ landlordName }}</li>
                  </ul>
        </div>
    </div>
</div>

{% endblock %}