{% extends 'mainApp/base.html' %}
{% load i18n %} {% load static %} {% block styles %}
<link rel="stylesheet" href='{% static "mainApp/css/ruler.css" %}'>
<link rel="stylesheet" href='{% static "mainApp/css/search.css" %}'>
<link rel="stylesheet" href='{% static "mainApp/css/map.css" %}'> {% endblock %} {% block scripts%}
<script src='{% static "mainApp/js/mapSearch.js" %}'></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src='{% static "mainApp/js/search.js" %}'></script>
{% endblock %} {% block content %}
<div class="container mt-5">
    <form action="" method="POST">
        <div class="row">
            <div class="col-sm mt-5">
                <h3 class="font-weight-bold mb-4">{% trans 'Encontra o teu alojamento!' %}</h3>
                    {% csrf_token %}
                    <div class="form-row border border-primary border-5 rounded-10">
                        <div class="form-group col-sm-7 my-auto p-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-info border-right-0 border-3 p-1">
                                        {% load static %}
                                        <img src='{% static "mainApp/images/map-pin.svg" %}' class='img-fluid' alt='Location pin'>
                                    </span>
                                </div>
                                <input type="text" class="form-control border-left-0 pl-0 border-info border-3 rounded-right" placeholder="{% trans 'Localização' %}" name="location" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 my-auto p-2">
                            <div class="input-group">
                                <input type="number" min="1" class="form-control border-info border-3 rounded-left" placeholder="{% trans 'Raio' %}" name="radius" required>
                                <div class="input-group-append">
                                    <span class="input-group-text bg-white border-info border-3 border-left-0 p-1">Km</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sx-1 mx-auto">
                            <button type="button" class="advancedSearchFormButton rotated btn bg-transparent mt-4 p-0">
                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="28" height="16" fill="none" viewBox="0 0 28 16">
                                    <path stroke="#E76F51" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M25 13L14 3 3 13"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div id="advancedSearchDiv">
                        <div class="form-row border-border-primary">
                            <div class="form-group col-sm pt-2">
                                <select class="form-select form-control border-info border-3 p-1" aria-label="Tipo de Alojamento" name='type'>
                                    <option value="" selected>{% trans 'Tipo de Alojamento' %}</option>
                                    <option value="Apartment">{% trans 'Apartamento' %}</option>
                                    <option value="House">{% trans 'Casa' %}</option>
                                    <option value="Studio">{% trans 'Estúdio' %}</option>
                                    <option value="Bedroom">{% trans 'Quarto' %}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm pt-2">
                                <select class="form-select form-control border-info border-3 p-1" aria-label="Número de Inquilinos" name='num_tenants'>
                                    <option value="" selected>{% trans 'Número de Inquilinos' %}</option>
                                    <option value="1">1 {% trans 'inquilino' %}</option>
                                    <option value="2">2 {% trans 'inquilinos' %}</option>
                                    <option value="3">3 {% trans 'inquilinos' %}</option>
                                    <option value="4">4 {% trans 'inquilinos' %}</option>
                                    <option value="5">5+ {% trans 'inquilinos' %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row border-border-primary">
                            <div class="form-group col-sm">
                                <select class="form-select form-control border-info border-3 p-1" aria-label="Número de Quartos" name='num_bedrooms'>
                                    <option value="" selected>{% trans 'Número de Quartos' %}</option>
                                    <option value="1">1 {% trans 'quarto' %}</option>
                                    <option value="2">2 {% trans 'quartos' %}</option>
                                    <option value="3">3 {% trans 'quartos' %}</option>
                                    <option value="4">4 {% trans 'quartos' %}</option>
                                    <option value="5">5+ {% trans 'quartos' %}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm">
                                <input placeholder="{% trans 'Entrada' %}" class="form-control border-info border-3 textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date-in" name='date_in'/>
                            </div>
                            <div class="form-group col-sm">
                                <input placeholder="{% trans 'Saída' %}" class="form-control border-info border-3 textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date-out" name='date_out'/>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-sm p-5">
                {% load static %}
                <img src='{% static "mainApp/images/searchSvg.svg" %}' class='img-fluid' alt='Boy with a house'>
            </div>
        </div>
        <div>
            <h2>{% trans 'Renda' %}:</h2>
            <div class="row" id="rangeLabelDiv">
                <input type="text" id="minPrice" name="minPrice" hidden>
                <input type="text" id="maxPrice" name="maxPrice" hidden>
                <span id="labelMin"></span>
                <span id="labelMinToMax"></span>
                <span id="labelMax"></span>
            </div>
            <div id="slider"></div>
            <div class="d-none d-lg-block d-xl-block">
                {% block ruler %} {% include "mainApp/ruler.html" %} {% endblock %}
            </div>
            <div class='form-row mt-5 mb-5 justify-content-center'>
                <button type="reset" class="btn btn-outline-secondary m-2">{% trans 'Limpar' %}</button>
                <button type="submit" class="btn btn-secondary m-2">{% trans 'Pesquisar' %}</button>
            </div>
        </div>
    </form>
    <div class='my-5' id="mapid"></div>
    {% if searched %}
    <div class="row mt-5 justify-content-center">
        <div class='col-12' id='resultsTitle'>
            <h1 class="row justify-content-center mt-5 font-weight-bold">{% trans 'Resultados' %}</h1>
        </div>
        <p id="numPages" hidden>{{pageNumbers|length}}</p>
        <div class='col-12'>
            <input type="hidden" id="search_radius" value={{searched_values.2}}>
            <input type="hidden" id="search_long" value={{searched_values.1}}>
            <input type="hidden" id="search_lat" value={{searched_values.0}}>
            {% if row|length > 0 %}
                {% for l, r in zipPreviews %}
                    {% if r|divisibleby:previewPerPage %}
                        {% if r == 0 %}
                            <div class="row justify-content-center" id='page_div_{% widthratio r 12 1%}'>
                        {% else %}
                            <div class="row justify-content-center" id='page_div_{% widthratio r 12 1%}' hidden>
                        {% endif %}
                    {% endif %}                
                        <div class="imageDiv m-5 rounded col-dm">
                            <p class="previewPrice text-white">{{l.0}}€</p>
                            <div class='previewTextDiv'>
                                <p class='previewName m-0 text-white'>{{l.1}}</p>
                                <p class='previewDistance m-0 text-white'>{{l.6}} {% trans 'Km de distância' %}</p>
                                <div class="previewLocation">
                                    <img src='{% static "mainApp/images/map-pin-preview.svg" %}' class='previewLocationPin' alt='Location pin'>
                                    <p class='previewAddress my-auto text-white'>{{l.2}}</p>
                                </div>
                            </div>
                            <img src='{% static l.5 %}' class="rounded previewImage" width='270' height="270" alt=''>
                            <input type="hidden" class="PassedLats" value={{l.3}}>
                            <input type="hidden" class="PassedLongs" value={{l.4}}>
                        </div>
                    {% if r|add:"1"|divisibleby:previewPerPage %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="mx-auto text-center text-24 py-5">{% trans 'Não foram encontrados resultados para a sua pesquisa.' %}</p>
            {% endif %}
        </div>
        <div class="pagesNumbersDiv col-12 row justify-content-center m-0">
            <div class="p-3" id='pageLeftFiller' hidden></div>
            <i class="fa fa-chevron-left text-primary pb-3 px-2 my-auto pointer" id='pageLeft' aria-hidden="left" onclick="previousPage()"></i>
            {% for p in pageNumbers %}
                {% if p == 2 %}
                    <p class="px-1 font-weight-bold my-auto pb-2" id='etc1' hidden>...</p>
                {% endif %}
                {% if p == pageNumbers|length %}
                    <p class="px-1 font-weight-bold my-auto pb-2" id='etc2' hidden>...</p>
                {% endif %}
                <p class="mx-2 px-1 py-0 font-weight-bold border-primary border-3 text-24 pointer" id='page_num_{{p}}' onclick='changePage({p})' hidden>
                    {{p}}
                </p>
            {% endfor %}
            <i class="fa fa-chevron-right text-primary pb-3 px-2 my-auto pointer" id='pageRight' aria-hidden="right" onclick="nextPage()"></i>
            <div class="p-3" id='pageRightFiller' hidden></div>
        </div>
    {% else %}
        <p id='resultsTitle' hidden></p>
    {% endif %}
    </div>
</div>

{% endblock %}