{% extends 'mainApp/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h2>Descrição do Acordo</h2>
    </div>
    <div class="row">
        <div class="container border border-info border-3 p-3 agreementDescription">

            <div class="row">
                <div class="col-sm-12">
                    <h4>Quarto no Areiro</h4> <!--Title-->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Condições de Arrendamento</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <ul id="sendAgreementList">
                        <li><b>Data de entrada: </b><input class="form-control border-primary" type="date" name="" id="" value="2021-03-10"></li> <!--startsDate-->
                        <li><b>Data de saída: </b><input class="form-control border-primary" type="date" name="" id="" value="2021-07-18"></li> <!--endsDate-->
                        <li><b>Renda: </b><input class="form-control border-primary" type="number" name="" id="" value="500" min="1"></li><!--rentAumont-->
                        <li><b>Caução: </b> <input class="form-control border-primary" type="number" name="" id="" value="500" min="1"></li> <!--securityDeposit-->
                        <li><b>Frequência dos Serviços de limpeza: </b><input class="form-control border-primary" type="text" name="" id="" value="Todas as semanas"></li> <!--cleaningServices-->
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Regras</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <ul id="sendAgreementList">
                        <li><b>Animais de estimação permitidos: </b> <br>
                            <input type="radio" name="pets" id="petsY" value="Sim">
                            <label for="petsY" >Sim</label> 
                            <input type="radio" name="pets" id="petsN" value="Não">
                            <label for="petsN" >Não</label> <!--pets-->
                        <li><b>Visitas podem pernoitar ocasionalmente: </b> <br>
                            <input type="radio" name="overnightVisits" id="overnightVisitsY" value="Sim" >
                            <label for="overnightVisitsY" >Sim</label> 
                            <input type="radio" name="overnightVisits" id="overnightVisitsN" value="Não" >
                            <label for="overnightVisitsN" >Não</label><!--overnightVisits-->       
                        <li><b>Permitido fumar: </b><br>
                            <input type="radio" name="smoke" id="smokeY" value="Sim" >
                            <label for="smokeY" >Sim</label> 
                            <input type="radio" name="smoke" id="smokeN" value="Não" >
                            <label for="smokeN" >Não</label> <!--smoke-->            
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Despesas Incluídas</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <ul id="sendAgreementList">
                        <li><b>Internet: </b> <br>
                            <input type="radio" name="internet" id="internetY" value="Sim" >
                            <label for="internetY" >Sim</label> 
                            <input type="radio" name="internet" id="internetN" value="Não" >
                            <label for="internetN" >Não</label><!--internet-->
                        <li><b>Eletricidade: </b><br>
                            <input type="radio" name="eletricity" id="eletricityY" value="Sim" >
                            <label for="eletricityY" >Sim</label> 
                            <input type="radio" name="eletricity" id="eletricityN" value="Não" >
                            <label for="eletricityN" >Não</label><!--eletricity-->       
                        <li><b>Água: </b><br>
                            <input type="radio" name="water" id="waterY" value="Sim" >
                            <label for="waterY" >Sim</label> 
                            <input type="radio" name="eletricity" id="waterN" value="Não" >
                            <label for="waterN" >Não</label> <!--water-->   
                        <li><b>Gás: </b><br>
                            <input type="radio" name="gas" id="gasY" value="Sim" >
                            <label for="gasY" >Sim</label> 
                            <input type="radio" name="gas" id="gasN" value="Não" >
                            <label for="gasN" >Não</label> <!--gas-->            
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h5>Outros:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                   <textarea class="form-control border-primary w-100" rows="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum maximus diam, 
                            sed tincidunt arcu scelerisque et. Nunc iaculis elit a vulputate faucibus. Aliquam tincidunt nisi 
                            quam, vitae placerat dolor tristique mattis. Ut fermentum et mi sed faucibus. Curabitur non tristique 
                            nunc, a aliquet ligula. Pellentesque sed dapibus tortor, a laoreet quam. Suspendisse molestie, eros sit 
                            amet ullamcorper laoreet, nisl purus imperdiet sem, blandit euismod odio mauris eget neque. Nulla ipsum nisl, 
                            suscipit et augue eu, hendrerit tincidunt ipsum. Etiam vel est vitae lorem porta ornare. Suspendisse scelerisque 
                            tortor massa, eget suscipit mauris rutrum eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
                            posuere cubilia curae;
                    </textarea>
                </div>
            </div>
            
        </div>
    </div>


    <div class="row float-right mt-2">
        <div class="col-sm-12">
            <button id="sendAgreement" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar acordo</>
        </div>
    </div>

    <!-- popUp -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pretende enviar o acordo ao Inquilino?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-secondary">Confirmar</button>
            </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}