{% extends 'mainApp/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h3>Descrição do Acordo</h3>
    </div>
    <div class="row border border-info p-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum maximus diam, sed tincidunt arcu scelerisque et. Nunc iaculis elit a vulputate faucibus. Aliquam tincidunt nisi quam, vitae placerat dolor tristique mattis. Ut fermentum et mi sed faucibus. Curabitur non tristique nunc, a aliquet ligula. Pellentesque sed dapibus tortor, a laoreet quam. Suspendisse molestie, eros sit amet ullamcorper laoreet, nisl purus imperdiet sem, blandit euismod odio mauris eget neque. Nulla ipsum nisl, suscipit et augue eu, hendrerit tincidunt ipsum. Etiam vel est vitae lorem porta ornare. Suspendisse scelerisque tortor massa, eget suscipit mauris rutrum eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

Cras accumsan diam purus, et sagittis dui mollis sit amet. Mauris tempor libero ut nulla porttitor, id egestas tortor mollis. Sed et arcu vitae dolor varius volutpat id in metus. Cras quis augue efficitur, eleifend risus sed, iaculis justo. Pellentesque ac nibh tincidunt, consectetur nisl aliquam, laoreet lectus. Fusce id libero id ligula condimentum aliquam non vehicula leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Morbi venenatis porttitor turpis, quis vehicula felis laoreet eget. Nam ac lorem non massa posuere vestibulum.

Donec id tempor justo, vitae egestas velit. Aliquam erat volutpat. Curabitur arcu lectus, lobortis nec ante vitae, elementum dignissim augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec nunc diam. Sed lobortis, odio vel tincidunt elementum, sem justo finibus ligula, at ullamcorper purus nibh nec dolor. Cras eget magna rutrum, vehicula nunc ut, vestibulum leo. Aenean egestas odio ut nibh lobortis cursus.

Praesent auctor lectus ac nibh iaculis, nec vehicula elit tempor. Donec ut erat in mi sagittis pulvinar. Nam dapibus ligula a vehicula bibendum. Etiam vel nisi ut dolor pharetra feugiat. Donec aliquet vitae diam at gravida. Nulla faucibus mi vitae ante placerat faucibus. Sed faucibus iaculis purus vitae porta. In sit amet metus nec risus faucibus consequat. Morbi commodo nec mauris at blandit. In vestibulum augue urna, at convallis nunc tincidunt at.

Maecenas ac finibus enim. Maecenas eu tristique mi, non ultrices felis. Proin laoreet eros nec ligula molestie, eu ullamcorper turpis tempus. Integer pellentesque, lacus a congue tempor, felis nunc euismod dui, et scelerisque ex ante id nisi. In porta pellentesque nibh, quis tristique orci tincidunt in. Duis elementum libero eu erat consequat, eget dictum massa dignissim. Sed pharetra felis purus, quis pellentesque tortor placerat a. Duis ullamcorper purus non maximus tincidunt. Proin felis justo, volutpat eget ultrices vitae, mollis at enim. Vestibulum pretium ut orci sed luctus. Vivamus vel vulputate neque.
    </div>
    <div class="row">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
            Li e aceito as condições acima referidas.
          </label>
        </div>
    </div>
</div>



{% endblock %}