{% extends 'mainApp/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h2>Descrição do Acordo</h2>
    </div>
    <div class="row">
        <div class="container border border-info border-3 p-3 agreementDescription">

            <div class="row">
                <div class="col-sm-12">
                    <h4>Quarto no Areiro</h4> <!--Title-->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Condições de Arrendamento</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul id="agreementList">
                        <li><b>Data de entrada: </b>10/03/2021</li> <!--startsDate-->
                        <li><b>Data de saída: </b>18/07/2021</li> <!--endsDate-->
                        <li><b>Renda: </b>500€</li><!--rentAumont-->
                        <li><b>Caução: </b> 500€</li> <!--securityDeposit-->
                        <li><b>Frequência dos Serviços de limpeza: </b>Todas as semanas</li> <!--cleaningServices-->
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Regras</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul id="agreementList">
                        <li><b>Animais de estimação permitidos: </b>Sim</li> <!--pets-->
                        <li><b>Visitas podem pernoitar ocasionalmente: </b>Sim</li><!--overnightVisits-->       
                        <li><b>Permitido fumar: </b>Não</li> <!--smoke-->            
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Despesas Incluídas</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul id="agreementList">
                        <li><b>Internet: </b>Sim</li> <!--internet-->
                        <li><b>Eletricidade: </b>Sim</li><!--eletricity-->       
                        <li><b>Água: </b>Não</li> <!--water-->   
                        <li><b>Gás: </b>Não</li> <!--gas-->            
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h5>Outros:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum maximus diam, sed tincidunt arcu scelerisque et. Nunc iaculis elit a vulputate faucibus. Aliquam tincidunt nisi quam, vitae placerat dolor tristique mattis. Ut fermentum et mi sed faucibus. Curabitur non tristique nunc, a aliquet ligula. Pellentesque sed dapibus tortor, a laoreet quam. Suspendisse molestie, eros sit amet ullamcorper laoreet, nisl purus imperdiet sem, blandit euismod odio mauris eget neque. Nulla ipsum nisl, suscipit et augue eu, hendrerit tincidunt ipsum. Etiam vel est vitae lorem porta ornare. Suspendisse scelerisque tortor massa, eget suscipit mauris rutrum eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="agreementAccept">
            <label class="custom-control-label" for="agreementAccept">Li e aceito todas as regras acima estabelecidas.</label>
        </div>
    </div>

    <div class="row float-right">
        <div class="col-sm-12">
            <button id="agreementSubmit" type="submit" class="btn btn-secondary" disabled>Aceitar Acordo</button>
        </div>
    </div>
</div>

{% endblock %}