{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% load app_extras %}
{% block scripts%}
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 bg-info rounded-right">
        <div class="wrapper mt-3 ml-4">
            <nav id="sidebar">
                <div class="sidebar-header">
                </div>
                <ul class="list-unstyled components">
                    <h4 class="text-white font-weight-bold">Manual do utilizador</h4>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <h5 class="font-weight-bold text-white-50">Geral</h5>
                        </a>
                        <ul class="collapse list-unstyled text-white-50 mt-2 mb-2" id="homeSubmenu">
                            <li>
                                <a class="text-white" href="">Como posso registar-me?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="">Como atualizar a informação do teu perfil?</a>
                            </li>
                            <li>
                                <a class="text-white" href="#">Como fazer Logout?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Como posso eliminar a minha conta?</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <h5 class="font-weight-bold text-white-50">Senhorios</h5>
                        </a>
                        <ul class="collapse list-unstyled mt-2 mb-2" id="pageSubmenu">
                            <li>
                                <a class="text-white" href="#">Como posso proceder à adição de uma propriedade? </a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Como posso iniciar um contrato com um inquilino?</a>
                            </li>
                            <li>
                                <a class="text-white" href="#">Como devo proceder para verificar se há interesse numa propriedade adicionada por mim?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Posso listar apenas uma propriedade sem colocá-la disponível para que outros utilizadores a vejam?</a>
                            </li>
                            <li>
                                <a class="text-white" href="#">Depois de iniciar um contrato posso terminá-lo? </a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Como posso comunicar com um possível interessado? </a>
                            </li>
                            <li>
                                <a class="text-white" href="#">É possível relatar alguma queixa caso exista em relação ao inquilino? </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <h5 class="font-weight-bold text-white-50">Inquilinos</h5>
                        </a>
                        <ul class="collapse list-unstyled mb-5 mt-2" id="pageSubmenu2">
                            <li>
                                <a class="text-white" href="#">Como posso mostrar interesse num alojamento?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Como posso efetuar o pagamento do aluguer?</a>
                            </li>
                            <li>
                                <a class="text-white" href="#">É possível não renovar um contrato de aluguer ou este não ser renovado?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Como posso relatar um problema ao senhorio?</a>
                            </li>
                            <li>
                                <a class="text-white" href="#">Como posso cancelar o aluguer dum alojamento?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="#">Como posso comunicar com o senhorio?</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        
      </div>
    <div class="col-sm-8 border border-info border-5 rounded mt-5 ml-5 mb-5">
        <div class="row">
            <h6 class="ml-4 mt-2 p-2 font-weight-bold">Caso tenha alguma dúvida acerca do funcionamento da aplicação ou queira reportar um erro envie-nos uma mensagem:</h6>
        </div>
            <form>
                <div class="form-group">
                    <textarea class="form-control p-3" rows="5"></textarea>
                </div>
            </form>
        <div class="text-right">
            <button class="btn btn-primary btn-rounded mb-3 ">enviar</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}