{% extends 'mainApp/base.html' %}
{% load i18n %}
{% load static %}
{% load app_extras %}
{% block scripts%}
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href='{% static "mainApp/css/user_manual.css" %}'>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 bg-info rounded-right">
        <div class="wrapper mt-3 ml-4">
            <nav id="sidebar">
                <div class="sidebar-header">
                </div>
                <ul class="list-unstyled components">
                    <h4 class="text-white font-weight-bold">{% trans 'Manual do utilizador' %}</h4>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <h5 class="font-weight-bold text-white-50">{% trans 'Geral' %}</h5>
                        </a>
                        <ul class="collapse list-unstyled text-white-50 mt-2 mb-2" id="homeSubmenu">
                            <li>
                                <a class="text-white" href="{% url 'user_1' %}">{% trans 'Como posso registar-me' %}?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'user_2' %}">{% trans 'Atualizar a informação do teu perfil' %}</a>
                            </li>
                            <li>
                                <a class="text-white" href="{% url 'user_3' %}">{% trans 'Fazer Logout' %}</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'user_4' %}">{% trans 'Eliminar a minha conta' %}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <h5 class="font-weight-bold text-white-50">{% trans 'Senhorios' %}</h5>
                        </a>
                        <ul class="collapse list-unstyled mt-2 mb-2" id="pageSubmenu">
                            <li>
                                <a class="text-white" href="{% url 'ut1' %}">{% trans 'Adicionar uma propriedade' %} </a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'ut3' %}">{% trans 'Iniciar um contrato com um inquilino' %}</a>
                            </li>
                            <li>
                                <a class="text-white" href="{% url 'ut4' %}">{% trans 'Verificar se há interesse numa propriedade por mim adicionada' %}</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'ut6' %}">{% trans 'Listar apenas uma propriedade sem colocá-la disponível para que outros utilizadores a vejam' %}</a>
                            </li>
                            <li>
                                <a class="text-white" href="{% url 'ut7' %}">{% trans 'Terminar um contrato depois de iniciado' %} </a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'ut8' %}">{% trans 'Comunicar com um possível interessado' %} </a>
                            </li>
                            <li>
                                <a class="text-white" href="{% url 'ut12' %}">{% trans 'Relatar alguma queixa caso exista em relação ao inquilino' %} </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <h5 class="font-weight-bold text-white-50">{% trans 'Inquilinos' %}</h5>
                        </a>
                        <ul class="collapse list-unstyled mb-5 mt-2" id="pageSubmenu2">
                            <li>
                                <a class="text-white" href="{% url 'ut2' %}">{% trans 'Como posso mostrar interesse num alojamento' %}?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'ut5' %}">{% trans 'Como posso efetuar o pagamento do aluguer' %}?</a>
                            </li>
                            <li>
                                <a class="text-white" href="{% url 'ut7' %}">{% trans 'É possível não renovar um contrato de aluguer ou este não ser renovado' %}?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'ut11' %}">{% trans 'Como posso relatar um problema ao senhorio' %}?</a>
                            </li>
                            <li>
                                <a class="text-white" href="{% url 'ut10' %}">{% trans 'Como posso cancelar o aluguer de um alojamento' %}?</a>
                            </li>
                            <li>
                                <a class="text-white-50" href="{% url 'ut9' %}">{% trans 'Como posso comunicar com o senhorio' %}?</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        
      </div>
    <div class="ml-auto p-4 pr-5 mr-5">
        <div class="col-sm-11 border border-info border-5 rounded mt-5 mb-5 pl-5 pr-5 ">
            <div class="row">
                <h5 class="text-center mt-3 mb-3 font-weight-bold">Como posso mostrar interesse numa propriedade?</h5>
            </div>
            <div>
                <ol class="list-group list-group-numbered" id="">
                    <li class="">
                        <p>Depois de procurar e inserir os filtros pretendidos, clica no anúncio que mais te interessa</p>
                        <img src='{% static "mainApp/images/tenant_1.png" %}' class="img-fluid mb-4" alt="aux image" id="img_user">
                    </li>
                    <li class="">
                        <p>Clica no botão mostrar interesse ilustrado na seguinte figura</p>
                        <img src='{% static "mainApp/images/tenant_2.png" %}' class="img-fluid mb-4" alt="aux image" id="img_user">
                    </li>
                    <li class="">
                        <p>Preenche os dados que mais consideras importantes e manda diretamente uma mensagem ao senhorio!</p>
                        <img src='{% static "mainApp/images/tenant_3.png" %}' class="img-fluid mb-4" alt="aux image" id="img_user">
                    </li>
                   
                </ol>

            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}